﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<script src="Scripts/jquery-3.4.1.min.js"></script>
<script>
    //var url = 'localhost/ ViewProduct/index/' + a;
    //    $.ajax({
    //        type: 'get',
    //        url: url,
    //        success: function (data) {

    //        },
    //        error: function () { alert('連接失敗') }

    //    });
    //123
    //11223

</script>

