﻿@model IEnumerable<ProjectTest.Models.BankAccount>

@{
    ViewBag.Title = "我的銀行帳戶";
}

<h2>我的銀行帳戶</h2>

<div>
    <div>

        @foreach (var item in Model)
        {

            <div class="thumbnail raw">

                <div>@Html.DisplayFor(modelItem => item.Issuer.Issuer_Name)</div>

                @*<div>@item.BankAccount_OwnerID</div>*@

                <div>
                    銀行帳戶號碼:@item.BankAccount_Account
                </div>
                @Html.ActionLink("刪除", "Delete", new { id = @Session["User_ID"] })
            </div>
        }


    </div>

</div>


@if (ViewBag.create == "1")
{

    @Html.ActionLink("新增銀行帳戶", "CreateBank", new { controller = "Bank", action = "CreateBank", id = @Session["User_ID"] })

}




<script>

</script>
