﻿@*@model ProjectTest.Models.Comment*@
@model IEnumerable<ProjectTest.Models.Comment>

@foreach (var item in Model)
{
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                @*留言編號:@item.Comment_No<br />*@
                <div style="width:40px;height:40px;border-radius:50%"><img id="user_photo" onerror="this.onerror='';this.src='/photo/user_pic/userpic_default.jpg'" src="/photo/user_pic/@item.User.User_Photo" style="width:inherit;height:inherit;border-radius:inherit" /></div>
                
                <p class="account hide">@item.User.User_Account</p>
                @*留言者:*@ <p></p>
            </div>
            <div class="panel-body">
                @Html.Raw(item.Comment_Content.ToString().Replace("\n", "<br />"))
            </div>
            <div class="panel-footer" style="height:40px">
                <div class="text-right" @*style="position:absolute;right:22%;"*@>
                    留言時間:@item.Comment_Date<br />
                </div>
            </div>
        </div>
    </div>
    <hr />

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $('.account').each(function() {
        let len = $(this).text().length;
        console.log(len);
        let first = $(this).text().substring(0, 2);
        len = first + "*****";
        $(this).next().text(len);
    });
</script>