﻿@model  ProjectTest.Models.Comment

@{
    ViewBag.Title = "新增留言";
}

@*<h4>新增留言</h4>*@
<div class="container">
    <div class="row">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Comment_Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div>
                            <a style="height:500px;">
                                @Html.TextAreaFor(model => model.Comment_Content, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                            </a>
                        </div>
                        @Html.ValidationMessageFor(model => model.Comment_Content, "", new { @class = "text-danger" })
                        <input type="submit" value="送出留言" class="btn btn-default" />
                        <input id="Reset1" type="reset" value="清除內容" class="btn btn-danger" />
                        <span class="text-danger" id="submit_alert">@TempData["Message"] </span>
                    </div>

                </div>

            </div>
        }
    </div>
</div>


