﻿

@{
    ViewBag.Title = "賣家中心";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/MAINCSS.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="icon" href="~/photo/navPhoto/ab2fo-qghbi-001.ico" type="image/x-icon" />
    <style>

        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
            color: #000000;
        }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
            color: #fff;
            background-color: #ffb6b6;
        }

        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .aside {
            width: 200px;
            height: auto;
        }

        .aside_position {
            position: fixed;
            top: 50px;
            left: 0px;
            z-index: 5;
        }

        #Box2, #Box3, #Box4 {
            width: 200px;
            height: 100px;
            padding: 10px;
            border: 1px #ccc dashed;
            float: left;
            margin-right: 10px;
        }

        /*.ImageLink {
            background-image: url('../../photo/navPhoto/TTTTS.png');
            height: 50px;
            width: 102px;
        }*/

    </style>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body id="containment-wrapper" class="ggssd">
    <div class="navbar navbar-inverse navbar-fixed-top jumbotron1">
        <div class="container">
            <div style="margin-bottom:10px;">
                <a href="@Url.Action("HomePage", "WebHome")" class="logo">
                    <img src='@Url.Content("~/photo/navPhoto/WEREWREWREWR.png")' style="height: 100px;width: 150px;float: left; " />
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">


                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <a class="text-center ">
                        @Html.ActionLink("賣家中心", "Index", "StoreCenter", new { area = "" }, new { @class = "dropdown-item text-center AAAF " })
                    </a>
                    <ul class="nav navbar-nav ">

                        <li class="dropdown">

                            <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">@Session["User_BuyerName"] <span class="caret"></span></a>
                            <ul class="dropdown-menu ">
                                <li>
                                    @Html.ActionLink("賣場介紹", "Edit", "StoreProfile", new { area = "" }, new { @class = "dropdown-item text-center" })
                                </li>
                                <li>
                                    @Html.ActionLink("登出", "Logout", "WebHome", new { area = "" }, new { @class = "dropdown-item text-center" })
                                </li>
                            </ul>
                        </li>
                        @*<li><a href="#">Page 2</a></li>*@
                    </ul>

                </ul>
            </div>
        </div>
    </div>
    <aside class="aside  aside_position text-center " style="margin-top: 80px;">
        <div id="drop1" class="list-group bg-info">
            <h3 class="bg-danger list-group-item">賣場設定</h3>
            <div id="d1">
                <h4 class="list-group-item">
                    @Html.ActionLink("賣場介紹", "Edit", "StoreProfile", new { area = "" }, new { @class = " " })
                </h4>
                <h4 class=" list-group-item" >
                    @Html.ActionLink("商品管理", "Index", "StoreProduct", new { area = "" }, new { @class = "" })
                </h4>
                <h4 class=" list-group-item">
                    @Html.ActionLink("訂單管理", "Index", "StoreOrder", new { area = "" }, new { @class = "" })
                </h4>
            </div>

        </div>
    </aside>



    <div class="container">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        $('#drop1').click(function () {
            $('#d1').slideToggle(300);
        })
    </script>
    @RenderSection("store_edit", required: false)
    @RenderSection("store_option", required: false)
    @RenderSection("store_ProductIndex", required: false)
    
</body>
</html>