﻿<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/MAINCSS.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/spee.css" rel="stylesheet" />
    <title>購物網站</title>
    <link rel="icon" href="~/photo/navPhoto/ab2fo-qghbi-001.ico" type="image/x-icon" />
    @*icon*@
    <style>
        .navbar-inverse .navbar-nav > li > a {
            color: #000000;
        }

        .navbar-toggle {
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-right: 15px;
            margin-top: 8px;
            margin-bottom: 8px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            border-color: #000000;
        }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
            color: #fff;
            background-color: #8c0000;
        }

        .navbar-inverse input[type="text"] {
            background-color: #313131;
            border: none;
            color: #999;
        }

        .navbar-inverse .navbar-form {
            position: relative;
        }

            .navbar-inverse .navbar-form input {
                display: inline-block;
                min-width: 400px;
            }



        .navbar-inverse button[type="submmit"] {
            position: absolute;
            line-height: 34px;
            right: 20px;
            background-color: #555;
            border: none;
            display: inline-block;
        }

        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
            border-color: #00000000;
        }

        .myMOUSE {
            cursor: pointer;
        }
    </style>
</head>
<body class="NMSLBA">
    <!--背景圖-->
    <nav class="navbar navbar-inverse navbar-fixed-top jumbotron1" role="navigation" style="min-height: 100px;">
        <div class="container">
            <div style="margin-bottom:10px;margin-top:10px;">
                <a href="@Url.Action("HomePage", "WebHome")" class="logo">
                    <img src='@Url.Content("~/photo/navPhoto/WEREWREWREWR.png")' style="height: 100px;width: 150px;float: left; " />
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav navbar-right">
                    @if (Session["User_ID"] != null)
                    {
                        <ul class="nav navbar-nav text-center">
                            <li>
                                @Html.ActionLink("購物車", "ShowCar", "Cart", new { id = Session["User_ID"] }, new { @class = "" })
                            </li>

                            <li>
                                @Html.ActionLink("幫助中心", "Help", "WebHome", new { area = "" }, new { @class = "" })
                            </li>
                            <li>
                                <div style="width:40px;height:40px;border-radius:50%"><img id="user_photo" src="/photo/user_pic/userpic_default.jpg" style="width:inherit;height:inherit;border-radius:inherit" /></div>
                                <p id="session_photo" class="hide">@Session["User_Photo"]</p>
                            </li>

                            <li class="dropdown ">
                                <a class="dropdown-toggle " data-toggle="dropdown" href="#">@Session["User_BuyerName"] <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("帳戶管理", "Edit", new { controller = "UserProfile", action = "Edit", id = @Session["User_ID"] }, new { @class = "dropdown-item text-center" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("購買清單", "ShowOrders", new { controller = "Pay", action = "ShowOrders", id = @Session["User_ID"] }, new { @class = "dropdown-item text-center" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("賣家中心", "Index", "StoreCenter", new { area = "" }, new { @class = "dropdown-item text-center" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("登出", "Logout", "WebHome", new { area = "" }, new { @class = "dropdown-item text-center" })
                                    </li>
                                </ul>
                            </li>
                            @*<li><a href="#">Page 2</a></li>*@
                        </ul>
                    }
                    else
                    {
                        <ul class=" nav navbar-nav text-center ">

                            <li>
                                @Html.ActionLink("幫助中心", "Help", "WebHome", new { area = "" }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("註冊", "Create", "WebHome", new { area = "" }, new { @class = " " })
                            </li>
                            <li data-toggle="modal" data-target="#myModal" style="position:relative;display:block;padding:15px;" class="myMOUSE">
                                @*@Html.ActionLink("登入", "Login", "WebHome", new { area = "" }, new { @class = " " })*@
                                登入
                            </li>
                        </ul>
                    }
                    @*購物車圖案*@
                    @*<img src="https://www.pkthink.com/images/e-commerce.png" style="height:50px;width:50px;" alt="" />*@
                </div>

                @*搜尋*@
                <form action="" class="navbar-form navbar-left " style="margin-top:35px;">
                    <div class="input-group form-control ">
                        <input type="Search" placeholder="搜尋..." class="form-control" style="width:100%" />
                        <div class="input-group-btn">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>



    @*會員登入*@
    <div class="modal fade" tabindex="-1" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ASDFF">
                    <h5 class="modal-title">
                        會員登入
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well ">

                                    <div class="input-group input-group-md" style="padding-bottom:10px;">
                                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                                        <input type="text" id="Acount" name="Acount" class="form-control" placeholder="使用者名稱" required aria-describedby="sizing-addon1" />
                                    </div>
                                    <div class="input-group input-group-md">
                                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" id="Password" name="Password" class="form-control" placeholder="密碼" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                                @Html.ActionLink("點我註冊", "Create", "WebHome", new { area = "" }, new { @class = " btn" })
                                @Html.ActionLink("忘記密碼?", "ReSendEmail", "WebHome", new { type = "忘記密碼" }, new { @class = " btn" })
                                <input type="reset" id="reset" value="重填" class="btn btn-default" />
                                <input type="button" id="submit" value="登入" class="btn btn-primary" />
                                @*<h3 class="text-danger">@ViewBag.Msg</h3>*@
                                <h3 class="text-danger" id="alert"></h3>
                                <div id="resend" class="hide">
                                    @Html.ActionLink("沒收到驗證信?", "ReSendEmail", "WebHome", new { type = "重發驗證信" }, new { @class = " btn" })
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*<script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <hr />

    <!--夫特-->
    <footer class="container">
        <div>
            <div class="_2KaIm4 ">
                <div style="font-size:0;">
                    <div class="_2F-jVh">
                        <div class="_1cJlGq ">
                            <div class="_3T6zcT">
                                客服中心
                            </div>
                            <ul class="_1EeFJI">
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">幫助中心</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">優購商城</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">付款方式</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">優購錢包</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">U幣</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">運費補助</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">退貨退款</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">優購承諾</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">聯絡客服</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">防詐騙宣導</a>
                                </li>
                            </ul>
                        </div>
                        <div class="_1cJlGq">
                            <div class="_3T6zcT">關於優購</div>
                            <ul class="_1EeFJI">
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">關於優購</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">加入我們</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">優購條款</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">隱私權政策</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">優購商城</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">賣家中心</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">限時特賣</a>
                                </li>
                            </ul>
                        </div>
                        <div class="_1cJlGq">
                            <div class="_3T6zcT">關於優購</div>
                            <ul class="_1EeFJI">
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">關於優購</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">加入我們</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">優購條款</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">隱私權政策</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">優購商城</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">賣家中心</a>
                                </li>
                                <li class="_2tLfDF">
                                    <a href="#" class="_2TLzdl">限時特賣</a>
                                </li>
                            </ul>
                        </div>
                        <div class="_1cJlGq">
                            <div class="_3T6zcT">關於我們</div>
                            <ul class="_1EeFJI">
                            
                            </ul>
                        </div>
                      

                        <div class="_1cJlGq">
                            <div class="_3T6zcT">下載優購</div>
                            <div class="mBTmjQ">
                                <a href="http://s04.calm9.com/qrcode/2020-06/AHUX4G8410.png">

                                    <img src="~/photo/navPhoto/PYJBU4124G.png" alt="download_qr_code" class="_2I3jAf">
                                </a>
                                <div class="_1zEa4X">
                                    <img class="QCp2hs" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/759416b55e2bd69ecc360ee2faab7ad0.png" alt="App Store">
                                    <img class="QCp2hs" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/2679f513b5f9e235adf2c6c288617e7b.png" alt="Play Store">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <p>&copy; @DateTime.Now.Year NMSL</p>
    </footer>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("view_product", required: false)

    <script>

        if ($('#session_photo').text() != "") {
            $('#user_photo').attr("src", "/photo/user_pic/@Session["User_Photo"]");
        }
        $('#reset').click(function () {
            $('#alert').html("");
            $('#resend').addClass('hide');
        });

        $('#submit').click(function () {
            $.ajax({
                url: '@Url.Action("Login","WebHome")',
                type: 'Post',
                dataType: "json",
                data: {
                    Acount: $('#Acount').val(),
                    Password: $('#Password').val(),
                },
                success: function (result) {
                    console.log("成功"+result.msg);
                    $('#alert').html(result.msg);
                    if (result.msg == "帳號未開通，請收取驗證信開通帳號!!")
                        $('#resend').removeClass('hide');
                    else
                        $('#resend').addClass('hide');
                    if (result.msg == "登入成功!!")
                        //window.location.href="http://localhost:49636/WebHome/HomePage";
                        setTimeout("location.href='http://localhost:49636/WebHome/HomePage'", 1000);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

    </script>
</body>
</html>


