﻿@model IEnumerable<Web.Models.Ad>
<video autoplay loop id="bk1">
    <source src="~/Photos/backtest.webm" type="video/webm" />
</video>
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bk1 {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
</style>
<div style="margin-top:70px">

    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ad_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ad_URL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ad_Layoutlocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Administrator.Admin_Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad_Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ad_URL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad_Layoutlocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrator.Admin_Name)
                    </td>

                </tr>

                <caption class="text-center"><img src="~/Photos/@item.Ad_Pic" /></caption>






            }

        </table>
    </div>
 </div>
