﻿@model Web.Models.Ad

@{
    ViewBag.Title = "廣告修改";
}
<video autoplay loop id="bk1">
    <source src="~/Photos/backtest.webm" type="video/webm" />
</video>
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bk1 {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
</style>
<div style="margin-top:70px">
    <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>廣告修改</h2>
        </div>
    </div>
   


    <form method="post" action="@Url.Action("editAD")" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Ad_No)

            <div class="form-group">
                @Html.LabelFor(model => model.Ad_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Ad_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ad_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ad_Pic, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Ad_Pic, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ad_Pic, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ad_URL, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Ad_URL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ad_URL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ad_Layoutlocation, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <select onchange=mbar(this) id="Ad_Layoutlocation" name="Ad_Layoutlocation" class="form-control">
                        
                        @if (Model.Ad_Layoutlocation == "1")
                        {
                            <OPTION selected value="1">左側大廣告(一)</OPTION>                           
                            <option value="2">左側大廣告(二)</option>
                            <option value="3">左側大廣告(三)</option>
                            <option value="4">右側第一列小廣告(一)</option>
                            <option value="5">右側第一列小廣告(二)</option>
                            <option value="6">右側第二列中廣告</option>
                            <option value="7">下方寬幅廣告</option>
                        }
                        else if (Model.Ad_Layoutlocation == "2")
                        {                          
                            <option value="1">左側大廣告(一)</option>
                            <option value="2">左側大廣告(二)</option>
                            <option value="3">左側大廣告(三)</option>
                            <option value="4">右側第一列小廣告(一)</option>
                            <option value="5">右側第一列小廣告(二)</option>
                            <option value="6">右側第二列中廣告</option>
                            <option value="7">下方寬幅廣告</option>
                        }

                        else if (Model.Ad_Layoutlocation == "3")
                        {                           
                            <option value="1">左側大廣告(一)</option>
                            <option value="2">左側大廣告(二)</option>
                            <option selected value="3">左側大廣告(三)</option>
                            <option value="4">右側第一列小廣告(一)</option>
                            <option value="5">右側第一列小廣告(二)</option>
                            <option value="6">右側第二列中廣告</option>
                            <option value="7">下方寬幅廣告</option>
                        }

                        else if (Model.Ad_Layoutlocation == "4")
                        {                          
                            <option value="1">左側大廣告(一)</option>
                            <option value="2">左側大廣告(二)</option>
                            <option value="3">左側大廣告(三)</option>
                            <option selected value="4">右側第一列小廣告(一)</option>
                            <option value="5">右側第一列小廣告(二)</option>
                            <option value="6">右側第二列中廣告</option>
                            <option value="7">下方寬幅廣告</option>
                        }

                        else if (Model.Ad_Layoutlocation == "5")
                        {                          
                            <option value="1">左側大廣告(一)</option>
                            <option value="2">左側大廣告(二)</option>
                            <option value="3">左側大廣告(三)</option>
                            <option value="4">右側第一列小廣告(一)</option>
                            <option selected value="5">右側第一列小廣告(二)</option>
                            <option value="6">右側第二列中廣告</option>
                            <option value="7">下方寬幅廣告</option>
                        }

                        else if (Model.Ad_Layoutlocation == "6")
                        {                           
                            <option value="1">左側大廣告(一)</option>
                            <option value="2">左側大廣告(二)</option>
                            <option value="3">左側大廣告(三)</option>
                            <option value="4">右側第一列小廣告(一)</option>
                            <option value="5">右側第一列小廣告(二)</option>
                            <option selected value="6">右側第二列中廣告</option>
                            <option value="7">下方寬幅廣告</option>
                        }

                        else if (Model.Ad_Layoutlocation == "7")
                        {                           
                            <option value="1">左側大廣告(一)</option>
                            <option value="2">左側大廣告(二)</option>
                            <option value="3">左側大廣告(三)</option>
                            <option value="4">右側第一列小廣告(一)</option>
                            <option value="5">右側第一列小廣告(二)</option>
                            <option value="6">右側第二列中廣告</option>
                            <option selected value="7">下方寬幅廣告</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">上傳圖片 </label>
                <div class="col-md-8">
                    <div class="btn btn-default">
                        <label for="photo" class="button-primary"><span class="glyphicon glyphicon-open"></span></label>
                    </div>
                    <input id="photo" name="photo" type="file" class="file" style="opacity:0;" />
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-4"> </label>
                <div class="col-md-8">
                    <section class="info-box">
                        <p>檔名：<span id="file_name"></span></p>
                        <hr />
                        <p>類型：<span id="file_type"></span></p>
                        <hr />
                        <p>大小：<span id="file_size"></span></p>
                        <hr />
                        <p>最後更新時間：<span id="file_time"></span></p>
                        <hr />
                        <p>縮圖：</p>
                        <hr />
                        <figure>
                            <img id="file_thumbnail">
                        </figure>
                    </section>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-4"> </label>
                <div class="col-md-8">
                    <input id="Submit1" type="submit" value="儲存" class="btn btn-success" style="width:500px;height:40px;" />
                </div>
            </div>

            <hr />

        </div>

    </form>
</div>
<script>
     var inputFile = document.getElementById('photo');

        inputFile.addEventListener('change', function (e) {

            var fileData = e.target.files[0]; // 檔案資訊
            var fileName = fileData.name; // 檔案名稱
            var fileType = fileData.type; // 檔案類型
            var fileSize = Math.floor(fileData.size * 0.001); // 檔案大小轉成kb
            var fileTime = fileData.lastModifiedDate;
            console.log(fileData); // 用開發人員工具可看到資料

            document.getElementById('file_name').innerText = fileName;
            document.getElementById('file_type').innerText = fileType;
            document.getElementById('file_size').innerText = fileSize + 'kb';
            document.getElementById('file_time').innerText = fileTime;
            document.getElementById('file_thumbnail').src = URL.createObjectURL(fileData);

        }, false);
</script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
