﻿
@{
    ViewBag.Title = "AuthEmail";
}

    <h2 class="text-danger">@ViewBag.Message</h2>
    <h3 id="countdown"></h3>

<script>
    var text = document.getElementById("countdown");
    var second = 10;
    setTimeout("location.href='http://localhost:49636/WebHome/HomePage'", second*1000);
    for( let i = 0; i <= second; i++ ) {
        setTimeout(function () {
            console.log(i);
            text.innerText = second+"秒後將自動跳轉，還剩"+(second-i)+"秒";
          }, 1000 * i);
    }
    
</script>

