﻿@model ProjectTest.Models.User

@{
    ViewBag.Title = "註冊會員";
}




<form method="post" action="@Url.Action("Create")">

    @Html.AntiForgeryToken()


    <div class="form-horizontal ">
        <h2>註冊會員</h2>
        <hr />
        <h4>填寫會員資料</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.User_Account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Account, "", new { @class = "text-danger" })
                <div id="checkaccount" class="text-danger"></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password", "確認密碼", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", type = "password" ,id="pwd"} })
                <div id="checkpwd" class="text-danger">@Html.Raw(ViewBag.checkpwd)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_BuyerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_BuyerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_BuyerName, "", new { @class = "text-danger" })

            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.User_StoreName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User_StoreName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User_StoreName, "", new { @class = "text-danger" })

                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.User_TrueName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_TrueName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_TrueName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Phone, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.RadioButtonFor(model => model.User_Gender, true , new { id = "gender1" })<span>男</span>
                    @Html.RadioButtonFor(model => model.User_Gender, false , new { id = "gender2" })<span>女</span>
                    @Html.ValidationMessageFor(model => model.User_Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Birth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Birth)
                @Html.ValidationMessageFor(model => model.User_Birth, "", new { @class = "text-danger" })
                <div class="text-danger">@Html.Raw(ViewBag.checkbirth)</div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="reset" value="重填" class="btn btn-default" />
                <input type="submit" value="註冊" class="btn btn-primary" />
            </div>
        </div>
        <div>
            @Html.ActionLink("回首頁", "Homepage")
        </div>
    </div>
</form>

<p class="text-danger">@Html.Raw(ViewBag.error)</p>



<script>

    //function check_birth() {
    //    var today = new Date();
    //    var birth = new Date($('#birth_date').val());

    //    if(today <= birth)  alert("請重新輸入生日");
    //}
</script>
