﻿
<style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: #ff752e;
    }

    a.nav-link {
        color: #000000;
    }
</style>
<body>
    <!--左邊pill-->
    <div class="container well  ">
        <p class="lead ">常見問題</p>
        <div class="row ">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#item11" data-toggle="pill">帳號安全與其他</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item22" data-toggle="pill">訂單</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item33" data-toggle="pill">賣家相關</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item44" data-toggle="pill">退貨退款</a>
                    </li>
                </ul>
            </div>
            <!--右邊tab-->
            <div class="container">
                <div class="col-md-9">
                    <div class="tab-content">
                        <!--1-->
                        <div class="tab-pane fade" id="item11">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="#item1" data-toggle="tab">網頁故障如何檢視原始碼</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#item2" data-toggle="tab">如何於電腦查看瀏覽器使用狀況</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#item3" data-toggle="tab">我要如何聯絡購物的客服？</a>
                                </li>
                            </ul>
                            <div class="tab-content ">
                                <div class="tab-pane fade bg-info" id="item1">
                                    <p>
                                        1.打開瀏覽器後按下「F12」或「fn + F12」，會在右手邊跳出新的頁面，點擊「Network」，再點擊「XHR」<br />
                                        2.再次進行會出現錯誤的操作 (例如:登入賣家中心)，在表格最左邊的「Name」欄位，找到紅字並點擊<br />
                                        3.點擊最左邊的「Headers」，並截圖此畫面，以及複製整串x-request-id給客服專員 (請務必確認截圖內含有"x-request-id”)<br />
                                    </p>
                                </div>
                                <div class="tab-pane fade bg-info" id="item2">
                                    <p>
                                        1.賣家中心網頁版部分功能不支援Windows XP系統，請升級Windows版本<br />
                                        2.檢查網路連線與速度是否正常<br />
                                        a.打開 YouTube.com 觀察縮圖的顯示速度，若縮圖沒有立即顯示，則表示目前可能網速較慢，請嘗試更換連線環境再嘗試<br />
                                        a.遠傳電信官方測速網頁<br />
                                        i.完成測試並確認網速是否正常，並回傳測試結果的截圖給客服專員<br />
                                    </p>
                                </div>
                                <div class="tab-pane fade bg-info" id="item3">
                                    <p>
                                        🟠如果您的問題與【購物】或【商城】有關<br />
                                        您可以在星期一到星期五（例假日除外），上午九點到六點，撥打(02) 6636-6559 聯繫電話客服。<br />
                                        您也可隨時透過『幫助中心』的「寫信給客服」 或「與客服即時交談」功能來與文字客服聯絡，文字客服收到來信後儘速為您確認。<br />
                                        💡提醒您：「與客服即時交談」目前僅限手機APP使用。<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--1-->
                        <!--2-->
                        <div class="tab-pane fade" id="item22">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="#item5" data-toggle="tab">國外消費免手續費</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#item6" data-toggle="tab">銀行</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade bg-info" id="item5">
                                    <p>
                                        國外消費免手續費<br />
                                        *可同享站外0.5%蝦幣點數回饋，並計入免運券消費回饋計算!<br />
                                        1. 國外刷卡消費係指交易地點非台灣或交易幣別非為新臺幣之一般交易。<br />
                                        2. 持卡人因故執行退貨交易或利用信用卡辦理海外消費退稅，而有退還款項之情況，該消費金額不納入累積消費金額計算，並不另行通知。<br />
                                    </p>
                                </div>
                                <div class="tab-pane fade bg-info" id="item6">
                                    <p>
                                        1.      本活動消費金額為新臺幣計算，本活動交易消費日需介於活動期間内，且須於消費次月15日前消費店家已完成請款入帳者(不含退貨、取消交易)。客戶須於消費次月15日前依規定綁定中信LINE官方帳號成功始符合最終回饋資格，本活動以前已綁定成功且仍有效者，無須重新綁定。<br />
                                        2.      客戶應先登錄成功再消費，滿額與否依中國信託銀行登錄系統為準，若登錄系統未找到本活動則表示已滿額。中國信託銀行於109/7/15起將刷卡金入帳至正卡人帳戶中，正附卡消費金額合併計算，每戶限回饋一次。<br />
                                        3.      若符合本活動消費資格人數超過份數者，將以登錄之順序為準，先登錄者可獲得。<br />
                                        4.      本活動不適用LINE Pay條碼付、apple pay、Samsung pay、Google pay及所有第三方/電子支付。<br />
                                        5.      中國信託銀行並未介入商品交付或商品瑕疵等買賣實體關係，相關商品出退貨或服務取消之退款事宜，持卡人應先逕洽商品出售人尋求解決；如無法解決，得要求中國信託銀行就該筆交易以「帳款疑義之處理程序」處理。<br />
                                        6.      如有任何因電腦、網路、電話、技術或不可歸責於中國信託銀行與活動指定特店購物之事由，而使參加本活動卡友登錄之資料有錯誤、無法辨識，中國信託銀行與活動指定特店不負任何法律責任，參加者亦不得因此異議。<br />
                                        7.      如遇不可抗力或不可歸責之事由，中國信託銀行及合作活動特店保留修改、變更或終止本活動及對本活動所有事宜最終解釋及決定之權利，相關事宜將依信用卡業務機構管理辦法第19條及相關規範辦理。
                                        8.      簽帳金融卡可適用本活動。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--2-->
                        <!--3-->
                        <div class="tab-pane fade" id="item33">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="#item9" data-toggle="tab">如果買家誤點擊完成訂單又聯繫我退貨，是否應該提供退貨服務呢？</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade bg-info" id="item9">
                                    <p>
                                        要的，依法令規定買家可於收到商品的七天內提出退貨申請，請賣家自行與買家協調退貨退款事宜。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--3-->
                        <!--4-->
                        <div class="tab-pane fade" id="item44">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="#item14" data-toggle="tab">爭議案件建議提供的文件有那些呢？</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#item15" data-toggle="tab">申請退貨退款後，賣家需回應你的天數為何？</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade bg-info" id="item14">
                                    <p>
                                        未收到商品的爭議<br />
                                        這個爭議會由賣家來提供相關證明。<br />
                                        當買家提出未收到商品的退貨申請時，優購承諾會先託管此款項。當賣家不同意買家提出未收到商品的申請時，會在優購購物APP中點選"向優購提出爭議"。之後優購購物就會向賣家蒐集相關資料。若賣家能提供有效且正確的寄送單據證明，則買家的申請就會被拒絕。<br />

                                        賣家需要提供以下資料<br />
                                        ■物流運送的證明(例如：交付物流的單據)<br />
                                        ■商品寄送的照片或相關訊息，包含：物流業者、包裹追蹤號碼、雙方的聯絡方式與地址等<br />
                                        ■嘗試與買家溝通、協助解決問題的證明(例如：聊天記錄等) (選擇性提供)<br />

                                        其他退貨爭議<br />
                                        狀況一：賣家不同意退貨申請<br />
                                        這個爭議會由買家來提供相關證明。<br />
                                        當買家收到的商品有問題時（例如商品有瑕疵、損壞或是與商品描述不符合等），優購承諾會先託管此款項。若賣家不同意此退貨申請時，會在優購購物APP中點選"向優購提出爭議"。之後優購購物就會向買家蒐集相關資料。依照買家申請退貨的原因，需要提供我們照片或影片當作證明文件（3C或電子產品的功能損壞，可能需要錄製短片）。<br />
                                        買家需要提供以下資料<br />
                                        ■商品瑕疵、損壞、或是與描述不符的照片<br />
                                        ■嘗試與賣家溝通、解決問題的證明(例如：聊天記錄等) (選擇性提供)<br />
                                        ■雙方若已有協調或溝通過此爭議，也請提供(例如：聊天記錄等) (選擇性提供)<br />

                                        狀況二：賣家同意了退貨申請，但買家尚未寄回退貨商品<br />
                                        這個爭議會由買家來提供相關證明。<br />
                                        若雙方已針對退貨申請達成協議，但賣家尚未收到寄回的退貨商品，買家需要提供有效且正確的的寄送單據文件，方能繼續退款流程。<br />
                                        買家需要提供以下資料<br />
                                        ■物流運送的證明(例如：交付物流的單據)<br />
                                        ■商品寄送的照片或相關訊息，包含：物流業者、包裹追蹤號碼、雙方的聯絡方式與地址等<br />
                                        ■雙方若已有協調或溝通過此爭議，也請提供(例如：聊天記錄等) (選擇性提供)<br />

                                        補充說明<br />
                                        狀況一：包裹遺失<br />
                                        優購購物建議你，為了避免寄送過程中遺失包裹，請使用掛號、宅配或任何可追蹤的方式寄出。若買賣雙方同意使用平信寄出，也請記得保留任何可以證明寄出的證據，直到完成整個交易過程。<br />
                                        友善提醒你，我們會將雙方的協商當作是正式的交易協議。舉例來說，若賣家同意使用掛號，但最後仍選擇使用平信方式，則賣家應該對遺失包裹負責。在這種情況下，即使賣家提供了寄送出貨的證明，我們仍會全額退款給買家。<br />

                                        狀況二：證明文件的完整度<br />
                                        不論你是買家或賣家，你提供的證明文件都應該要能清楚辨認。一但雙方有爭議時，你需要在三天內提供我們相關的證明文件，若沒收到你的回應，我們會將款項支付給有回應的一方。<br />

                                        狀況三：退貨運費<br />
                                        若賣家寄出的是錯誤、損壞或是不符合敘述的商品，我們強烈建議賣家應該要負擔退貨運費。當然雙方也能彼此協調後再作出決定，優購購物只會退款在優購承諾中的託管金額。<br />
                                    </p>
                                </div>
                                <div class="tab-pane fade bg-info" id="item15">
                                    <p>
                                        以下為買家申請退貨退款後，各類型賣家回應退貨退款案件申請的天數：<br />
                                        ※若賣家未在此規定天數內回覆，蝦皮會自動將款項退給買家<br />
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!--4-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
