﻿@model ProjectTest.Models.HomePage

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "HomePage";
    var AD = ViewBag.AD;
    var ADUrl = ViewBag.Url;
}

<style>
    .img-responsive, .thumbnail a > img, .thumbnail > img { /*底下商品攔圖片*/
        display: block;
        max-width: 100%;
        height: 250px;
    }

    .img-responsive, .thumbnail2 a > img, .thumbnail2 > img { /*底下商品攔圖片*/
        display: block;
        max-width: 100%;
        height: 100%;
    }

    .photosize {
        width: inherit;
        height: inherit;
    }

    .photoframe {
        width: 100%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .goods {
        height: 350px;
    }

    .Photo {
        width: 100%;
        height: 100%;
    }

    .name {
        height: 25%;
        max-width: inherit;
    }

    .price {
        height: 10%;
    }

    .border {
        height: 605px;
        margin-top: 30px;
    }

    .text_truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        /*white-space:nowrap;*/
    }

    #product:hover {
        box-shadow: 0px 0px 5px #ff6a00;
        cursor: pointer;
    }

    body {
        padding-top: 70px;
    }

    .slide-image {
        width: 100%;
        height: 100%;
    }

    .carousel-holder {
        margin-bottom: 30px;
    }

    .carousel-control,
    .item {
        border-radius: 4px;
    }

    .caption { /*底下商品攔*/
        height: 130px;
        overflow: hidden;
        border-top: 1px solid;
    }

        .caption h4 { /*底下商品攔*/
            white-space: nowrap;
        }

    .ratings {
        padding-right: 10px;
        padding-left: 10px;
        color: #d17581;
    }

    .thumbnail { /*底下商品攔*/
        padding: 0;
        margin-bottom: -5px;
    }

        .thumbnail .caption-full { /*底下商品攔*/
            padding: 9px;
            color: #333;
        }

    footer {
        margin: 50px 0;
    }

    .suk { /*輪播*/
        background-repeat: round;
        padding: 1rem;
        background-size: contain;
    }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img { /*輪播圖片*/
        height: 500px;
    }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 530px;
    }

    .img-responsive, .thumbnail a > img, .thumbnail > img {
        display: block;
        min-width: 100%;
        height: 160px;
    }
</style>

<div id="ad" class="container">

    <div class="row">

        <div class="col-lg-6">
            <div class="row carousel-holder">
                <!--AD.1-->
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 350px;">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="@ADUrl[0]">
                                    <img class="slide-image" onerror="this.onerror='';this.src='/photo/AD/ad1.jpg'" src="http://localhost:49270//Photos/@AD[0]" alt="@AD[0]" style="height: 350px;">
                                </a>                               
                            </div>
                            <div class="item">
                                <a href="@ADUrl[1]">
                                    <img class="slide-image" onerror="this.onerror='';this.src='/photo/AD/ad2.jpg'" src="http://localhost:49270//Photos/@AD[1]" alt="@AD[1]" style="height: 350px;">
                                </a>
                            </div>
                            <div class="item">
                                <a href="@ADUrl[2]">
                                    <img class="slide-image" onerror="this.onerror='';this.src='/photo/AD/ad3.jpg'" src="http://localhost:49270//Photos/@AD[2]" alt="@AD[2]" style="height: 350px;">
                                </a>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-3" style="margin-bottom:30px;">
            <div class="thumbnail">
                <a href="@ADUrl[3]">
                    <img onerror="this.onerror='';this.src='/photo/AD/ad4.jpg'" src="http://localhost:49270//Photos/@AD[3]" alt="@AD[3]">
                </a>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:30px;">
            <div class="thumbnail">
                <a href="@ADUrl[4]">
                    <img onerror="this.onerror='';this.src='/photo/AD/ad5.jpg'" src="http://localhost:49270//Photos/@AD[4]" alt="@AD[4]">
                </a>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom:30px;">
            <div class="thumbnail">
                <a href="@ADUrl[5]">
                    <img onerror="this.onerror='';this.src='/photo/AD/ad10.jpg'" src="http://localhost:49270//Photos/@AD[5]" alt="@AD[5]">
                </a>
            </div>
        </div>
        <div class="col-md-12" style="padding-top:2px;padding-bottom:30px;">
            <div class="thumbnail">
                <a href="@ADUrl[6]">
                    <img onerror="this.onerror='';this.src='/photo/AD/ad8.jpg'" src="http://localhost:49270//Photos/@AD[6]" alt="@AD[6]">
                </a>
            </div>
        </div>
        <div>

            <hr />

            <div @*style="margin-top:600px;"*@>

                <div class="col-md-3">
                    <p class="lead well"><span class="glyphicon glyphicon-list">  <strong>商品分類</strong></span></p>
                    <div class="list-group" id="classlist">
                        @foreach (var item in Model.productclass)
                        {
                            @Html.ActionLink(item.PClass_Name, "HomePage", new { pclass = item.PClass_No, page = 1 }, new { @class = "list-group-item text" ,style="padding-left:30px"})
                        }
                    </div>
                </div>
            </div>




            @foreach (var item in Model.view_product)
            {
                <div class="col-sm-3 col-lg-3 col-md-3 " style="margin-bottom:20px;">
                    <div id="product" class="thumbnail goods " style="border:1px solid" onclick="location.href='@Url.Action("Home","ViewProduct",new { no=item.P_No})';">
                        <div class="photoframe ">
                            <div class="Photo">
                                @if (@item.P_Pic != "")
                                {
                                    <img src="~/photo/product/@item.P_Pic" class="photosize" />
                                }
                                else
                                {
                                    <img src="~/photo/product/p0.jpg" class="photosize" />
                                }
                            </div>
                        </div>
                        <div class="FONN">
                            @item.P_Name

                        </div>
                        <div>
                            <div class="caption name d-inline-block text_truncate">
                                @*若其中有選項的價錢不同，使用範圍顯示價錢區間*@
                                <div class="">
                                    @if (item.Min_Price == item.Max_Price)
                                    {
                                        <p>@String.Format("{0:c0}", item.Min_Price)</p>
                                    }
                                    else
                                    {
                                        <p>@String.Format("{0:c0}", item.Min_Price) - @String.Format("{0:c0}", item.Max_Price)</p>
                                    }
                                </div>
                                @*<h5>@item.User_StoreName</h5>*@

                                <hr />
                            </div>
                        </div>


                    </div>
                </div>
            }
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 ">
            @if (Model.view_product.Count == 0)
            {
                <h3 class="text-center">目前暫無商品</h3>
            }
        </div>
    </div>



</div>
<div>
</div>
<hr />
<div class="row">
    @*商品列表的分頁按鈕*@
    <div class="col-md-12" style="text-align:center">
        @Html.PagedListPager(Model.view_product, page => Url.Action("HomePage", "WebHome", new { pclass = ViewBag.pclass, page }))
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var i = 1;
    $('#classlist>a').each(function () {
        if (i==@ViewBag.pclass) {
            $(this).css({"color":"orange","font-weight":"900"});
        }
        i++;
    });
</script>