﻿
@{
    ViewBag.Title = "廢棄的登入";
}

<style>
    .input-group {
        margin: 10px 0px;
    }

    h3 {
        padding: 5px;
        border-bottom: 1px solid #ddd;
    }
    /*li {
        list-style-type: square;
        margin: 10px 0;
    }*/
    em {
        color: #c7254e;
        font-style: inherit;
        background-color: #f9f2f4;
    }
</style>
<form method="post" action="@Url.Action("Login")" class="form-horizontal">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-6" style="border-right:1px solid #ddd;">
            <div class="well col-md-10">
                <h3>會員登入</h3>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type="text" id="Acount" name="Acount" class="form-control" placeholder="使用者名稱" required aria-describedby="sizing-addon1" />
                </div>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="Password" name="Password" class="form-control" placeholder="密碼" aria-describedby="sizing-addon1">
                </div>
                @Html.ActionLink("點我註冊", "Create", "WebHome", new { area = "" }, new { @class = " btn" })
                @Html.ActionLink("忘記密碼?", "ReSendEmail", "WebHome", new { type = "忘記密碼"}, new { @class = " btn" })
                @*<a href="@Url.Action("ReSendEmail",new { type = "忘記密碼"})">忘記密碼?&nbsp</a>*@
                <input type="reset" id="reset" value="重填" class="btn btn-default" />
                <input type="submit" id="submit" value="登入" class="btn btn-primary" />
                <h3 class="text-danger">@ViewBag.Msg</h3>
            </div>
        </div>
        <div class="col-md-6">
            <h3>
                歡迎登入本網站
            </h3>
        </div>

    </div>
    
</form>

<a href="@Url.Action("ReSendEmail",new { type = "重發驗證信"})">@ViewBag.resend</a>




