﻿
@{
    ViewBag.Title = "ReSendEmail";
}


<div class="row">
    <div class="table-bordered col-md-6 col-lg-offset-3" style="padding:10px 20px;">
        <div class="row">
            <div class="col-md-12">
                <h3><strong>尋找你的帳號</strong></h3>
                <hr />
            </div>
        </div>
        <div class="row" style="margin-bottom:10px">
            <form method="post" action="@Url.Action("ReSendEmail")">
                <label for="email" class="col-md-11 col-md-offset-1">請輸入你的電子郵件以搜尋帳號</label>
                <div class="col-md-11 col-md-offset-1">
                    <input id="email" type="text" name="email" style="max-width:100% !important;width:60% !important" />
                    <input type="hidden" name="type" value="@ViewBag.type"/>
                    <input type="submit" value="確定" />
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h4 class="text-danger">@ViewBag.NotFind</h4>
            </div>
        </div>
    </div>
</div>

