﻿
@{
    ViewBag.Title = "ResetPwd";
}


<div class="row">
    <div class="table-bordered col-md-6 col-lg-offset-3" style="padding:10px 20px;">
        <div class="row">
            <div class="col-md-12">
                <h3><strong>選擇新密碼</strong></h3>
                <hr />
            </div>
        </div>
        <div class="row" style="margin-bottom:10px">
            <form method="post" action="@Url.Action("ResetPwd")">
                <label for="pwd" class="col-md-11 col-md-offset-1">新的密碼</label>
                <div class="col-md-11 col-md-offset-1">
                    <input id="pwd" type="text" name="pwd" style="max-width:100% !important;width:60% !important" />
                    <input type="hidden" name="id" value="@ViewBag.id" />
                    <input type="submit" value="確定" />
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h4 class="text-danger"></h4>
            </div>
        </div>
    </div>
</div>

