﻿@*@model ProjectTest.Models.Issuer*@

@model IEnumerable<ProjectTest.Models.Issuer>
@{
    ViewBag.Title = "Create";
}

<h2>新增信用卡</h2>


@using (Html.BeginForm("")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@


    <div class="form-group">
        <label for="Issuer_Name" class="control-label col-md-2">發卡行</label>
        @*@Html.LabelFor(model => model.Issuer_Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @*@Html.DropDownListFor(model => model.Issuer_Name)
                @Html.ValidationMessageFor(model => model.Issuer_Name, "", new { @class = "text-danger" })*@

            <select id="Issuer_Name" name="Issuer_Name" class="form-control">
                @foreach (var item in Model)
                {
                    <option value="@item.Issuer_No">@item.Issuer_Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="CreditCard_No" class="control-label col-md-2">信用卡卡號</label>
        <div class="col-md-10">
            <input id="CreditCard_No" name="CreditCard_No" type="text" class="form-control" required maxlength="16"/>
        </div>
    </div>

    <div class="form-group">
        <label for="CreditCard_No" class="control-label col-md-2">持卡人名字</label>
        <div class="col-md-10">
            <input id="CreditCard_No" type="text" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="CreditCard_No" class="control-label col-md-2">到期日</label>
        <div class="col-md-10">
            <input id="CreditCard_No" type="text" class="form-control" required placeholder="MM/YY" />
        </div>
    </div>

    <div class="form-group">
        <label for="CreditCard_No" class="control-label col-md-2">安全碼</label>
        <div class="col-md-10">
            <input id="CreditCard_No" type="text" class="form-control" required  placeholder="000" maxlength="3"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="確認" class="btn btn-default btn-primary col-md-10" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("取消新增", "ShowCreditCard", "CreditCard", new { id = @Session["User_ID"] }, new { @class = "btn btn-danger" })

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    //$("form").submit(function (event) {
    //    if ($("CreditCard_No").length !=16) {

    //        Console.log("e")
    //        return;

    //    }
    //    event.preventDefault();
    //});

  

</script>