﻿@model IEnumerable<ProjectTest.Models.CreditCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Issuer.Issuer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.User_Account)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Issuer.Issuer_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.User_Account)
   
    </td>
    <td>
        
        <input type="text" value="@item.CreditCard_No.Substring(0,4)" />
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CreditCard_No }) |
        @Html.ActionLink("Details", "Details", new { id = item.CreditCard_No }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CreditCard_No })
    </td>
</tr>
}

</table>
