﻿@*@model ProjectTest.Models.CreditCard*@
@model IEnumerable<ProjectTest.Models.CreditCard>



@{
    ViewBag.Title = "我的信用卡";
}



<style>
    #wrap {
        display: flex;
        justify-content: flex-start;
        font-family:Impact;
    }

</style>


<div class="btn-group-horizontal" role="group">

    <ul class="nav nav-tabs nav-justified ">
        <li role="presentation">  @Html.ActionLink("個人檔案", "Edit", new { controller = "UserProfile", action = "Edit", id = @Session["User_ID"] })</li>
        <li role="presentation">@Html.ActionLink("修改密碼", "EditPwd", new { controller = "UserProfile", action = "EditPwd", id = @Session["User_ID"] })</li>
        <li role="presentation" > @Html.ActionLink("修改大頭照", "Edit", new { controller = "UserPic", action = "Edit", id = @Session["User_ID"] })</li>
        <li role="presentation" class="active">@Html.ActionLink("帳戶資料", "ShowCreditCard", new { controller = "CreditCard", action = "ShowCreditCard", id = @Session["User_ID"] })</li>
    </ul>
</div>

<h2>我的信用卡</h2>
<div>
    <div>

        @foreach (var item in Model)
        {

        <div class="thumbnail raw">

            <div>@Html.DisplayFor(modelItem => item.Issuer.Issuer_Name)</div>

            <div class="hidden ">@item.CreditCard_OwnerID</div>
            @*<div>@item.CreditCard_No</div>*@


            <div id="wrap">
                <h5 style="margin-right:5px">信用卡卡號:</h5>
                <h5 style="margin-right:5px">****</h5>
                <h5 style="margin-right:5px">****</h5>
                <h5 style="margin-right:5px">****</h5>
                <h5>@item.CreditCard_No.Substring(item.CreditCard_No.Length - 4, 4) </h5>
            </div>


            @Html.ActionLink("刪除", "Delete", new { id = @Session["User_ID"] })
        </div>
        }


    </div>

</div>


@if (ViewBag.create == "1")
{

@Html.ActionLink("新增信用卡", "Create", new { controller = "CreditCard", action = "Create", id = @Session["User_ID"] })
<div>
    @*<input id="Button1" type="button" value="新增信用卡" class="btn btn-link" data-toggle="modal" data-target="#myModal" />*@
    @*@Html.ActionLink("新增信用卡", "Create", new { id =  @Session["User_ID"] }, new { @data_toggle = "modal", @data_target = "#myModal" })*@
</div>


}
<hr />
@Html.Action("_BankAccount", "Bank", new { id = @Session["User_ID"] })@*這一行是PartialView*@


<script>

</script>