﻿@model IEnumerable<ProjectTest.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cart_ProductNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart_ShowStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.User_Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductOption.POption_Name1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cart_ProductNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart_ShowStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.User_Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductOption.POption_Name1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
