﻿@model IEnumerable<ProjectTest.Models.Cart>
@{
    ViewBag.Title = "ShowCar";


}

<h2>我的購物車</h2>

<style>
    #wrap {
        display: flex;
        /*justify-content: flex-start;*/
        font-family: Impact;
    }

    th, td {
        width: 15%;
        text-align: center;
    }

    #pay, #total {
        display: flex;
    }



    /*tfoot {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left:60%;
    }*/
</style>


<div>
    <table class="table table-hover" id="cart" name="cart">

        <thead class="text-warning  ">
            <tr>
                <th>商品</th>
                <th>品名</th>
                <th>規格一</th>
                <th>規格二</th>
                <th>單價</th>
                <th>數量</th>
                <th>小計</th>
                <th>動作</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string double_Pk = @item.Cart_OwnerID + @item.Cart_ProductOptionNo;
                <tr>
                    <td>
                        <img />
                        @if (item.ProductOption.POption_Pic != "")
                        {
                            <img src="../../photo/product/@item.ProductOption.POption_Pic" style="width: 100px; height: 100px" />
                        }
                        else
                        {
                            <img src="../../photo/product/p0.jpg" style="width:100px;height:100px" />
                        }

                    </td>

                    @*<td><a href="@Url.Action("ViewProduct", "Home", new { no = item.ProductOption.POption_ProductNo })"<img src="../../photo/product/@item.ProductOption.POption_Pic"style="width:100px;height:100px" /></a></td>*@
                    @*<td><a href="#">@Html.DisplayFor(modelItem => item.ProductOption.Product.P_Name)</a></td>*@
                    @*<td> @Html.ActionLink("@Html.DisplayFor(modelItem => item.ProductOption.Product.P_Name)", "Home","ViewProduct", new { no=item.ProductOption.POption_No })</td>*@
                    <td>@Html.ActionLink(item.ProductOption.Product.P_Name, "Home", new { controller = "ViewProduct", action = "Home", no = item.ProductOption.POption_ProductNo })</td>
                    <td>@item.ProductOption.POption_Name1</td>

                    <td>@item.ProductOption.POption_Name2</td>
                    <td id="price" name="price">@String.Format("{0:f0}", @item.ProductOption.POption_Price)</td>
                    <td style="display:inline" class="text-center">
                        <div class="col-3 row text-center">
                            @*<button class="col-md-4 " style="width:30px" id="numM">-</button>
                            <input class="col-md-4 pronum" type="text" value="@item.Cart_ProductNumber" id="pronum" style="width:50px" />
                            <button class="col-md-4 "  style="width:30px" id="numP">+</button>*@
                            <button class="col-md-4 numM" style="width:30px" id="M_@double_Pk">-</button>
                            <input class="col-md-4 pronum" type="text" value="@item.Cart_ProductNumber" id="C_@double_Pk" style="width:60px;text-align:center;" />
                            <button class="col-md-4 numP" style="width:30px" id="P_@double_Pk">+</button>
                        </div>
                    </td>

                    <td></td>
                    <td>@Html.ActionLink("刪除", "DelPro", new { id = @Session["User_ID"], po_no = item.Cart_ProductOptionNo }, new { @class = "btn btn-warning" })</td>


                </tr>

            }

        </tbody>
        <tfoot class="bg-warning">
            <tr class="text-align: center;">
                <th colspan="6" style="padding-top:25px">

                    <div> @Html.ActionLink("清空購物車", "Delete", new { id = @Session["User_ID"] }, new { @class = "btn btn-warning", @style = "float:left " })</div>
                    <div class="text-center">
                        @Html.ActionLink("結帳", "Create", new { controller = "Pay", action = "Create", id = @Session["User_ID"] }, new { @class = "btn btn-primary", @style = "width:180px" })
                    </div>
                </th>
                <th colspan="6" class="row">

                    <h3 class="total text-right">總金額</h3>

                </th>


            </tr>
        </tfoot>
       
    </table>

</div>

<div class="text-center hidden" style="height:250px;width:940px;" id="emptycar">
    <img src="~/photo/UGO_LOGO.png" style="height:110px;width:150px;margin-left: auto;margin-right: auto" />
    <h4>你的購物車還是空的</h4>
    @Html.ActionLink("去逛逛吧", "HomePage", new { controller = "WebHome", action = "HomePage" }, new { @class = "btn btn-warning", @style = "width:140px " })
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(document).ready(function() {
      if(!$.trim($("#cart tbody").html())) { // check if empty
          document.getElementById("cart").deleteTFoot(); // delete footer
          $('#emptycar').removeClass("hidden");
      }
    });

   // console.log($('tbody tr:nth-child(1) td:nth-child(5)').text());
    changetotal();

    function changetotal() {
        var Index = 1;
        var a = 0;
        $.each($('tbody tr '), function() {
            var Ammount = parseInt($('tbody tr:nth-child(' + Index + ') td:nth-child(5)').text()) * parseInt($('tbody tr:nth-child(' + Index + ') td:nth-child(6) div input').val());
            $('tbody tr:nth-child(' + Index + ') td:nth-child(7)').text(Ammount);
            //var Total=parseInt($('tbody tr:nth-child('+Index+') td:nth-child(7)').sum().text()).val();
            a += Ammount;
            Index++;
            $('tfoot tr h3').text("總金額 $" + a);
           // console.log(a);
        });

    }


    $('tfoot tr h2'), function () {
        var total = parseInt($())

    }

    ////if(item !=0)
    //    $('tbody tr td:first-child').attr("src", "url");
    //else


    //var cart = document.getElementById('cart');
    //var ammount; var newammount;
    //for (let i = 0; i < cart.length; i++) {

    //    ammount[i] = cart[i + 1][4] * cart[i + 1][5];

    //}
    //console.log(cart.rows[1].cells[4].innerHTML*cart.rows[1].cells[5].innerHTML)


   //var


   // console.log(cart.rows[1].cells[4].innerHTML*cart.rows[1].cells[5].innerHTML);

 //    amount=(parseFloat(point)*parseFloat(discount)).toFixed(5);
 //$("#amount").val('$'+amount);

     @*var cart = [];
        if (@OrderOK==1)
        {
            alert("結帳完成!!");
            Car.removeItem('cart');
        }
        if (localStorage.getItem('cart')) {
            cart = JSON.parse(localStorage.getItem('cart'));
            setCart();
        }
        else {
            $('#cart>tbody').html('<h3>目前購物車沒有任何商品</h3>');
            $('#funBtn').hide();
        }



    parseInt.($('#price').text());

    var amount = parseFloat($('#price')) **@

    @*$('#delete').click(function () {
        if (confirm('確定移除此商品？')) {
            $('#cart>tbody').empty();
            $('#total').empty();

            $.ajax({
                url: '@Url.Action("EditSave","Users")',
                type: 'Post',
                dataType: 'json',
                data: {
                    user_pic: $('#user_pic').attr("alt")

                },
                success: function (data) {
                    console.log("成功" + "/" + data.user_pic);
                },
                error: function (e) {
                    console.log("失敗");
                }
            });
        }
    });*@

    //按鈕調整產品數量
    // var numM = document.getElementById("numM");
    //var numP = document.getElementById("numP");
    //var pronum = document.getElementById("pronum");

    // numM.addEventListener("click", function () { NumBtnChange(-1); });
    //numP.addEventListener("click", function () { NumBtnChange(1); });

    //當數值被改變
    $('.col-md-4.pronum').on('change', (e) => {   //當pronum value被改變的時候觸發on change e是觸發的DOM物件
        let id = $(e.target).attr('id').substr(2,10); //attr是取(如果只有一個參數)(參數)的哪個屬性，(如果有兩個參數)(就是把第一個屬性換成第二個參數)
        let no =$(e.target).attr('id').substr(12); //e是event(完整記錄這個input被更改的過程)(target是每個節點)節點可至
        NumBtnChange($(e.target).val(), id ,no);
    });

    //當+-按鈕被按下
    $('tbody tr td div').on('click', (e) => {
        let a = $(e.target).attr('id').substr(0, 1);
        let id = $(e.target).attr('id').substr(2,10);
        let no = $(e.target).attr('id').substr(12);
        if (a == "M") {
            NumBtnChange(+$("#C_" + id + no).val() - 1, id, no);  //第一個+是把string轉型成數字
            $("#C_" + id + no).val(+$("#C_" + id + no).val() - 1); //等於是在頁面先減一，而不是重讀資料庫的值
        } else if (a == "P") {
            NumBtnChange(+$("#C_" + id + no).val() + 1, id, no);
            $("#C_" + id + no).val(+$("#C_" + id + no).val() + 1);
        }
    });

    //$('tbody tr td div button').on('click', '.numP', function() {NumBtnChange()});
    //$('tbody tr td div button').on('click', '.numM', function () { NumBtnChange() });

    //console.log($('tbody tr td div button'));

     //用按鈕調數量
            function NumBtnChange(val , c_Id , p_No) { //val =>要改變的值 , p_No => 商品PK , c_Id => 購物車PK
                //console.log(pronum.value);

               // pronum.value = parseInt(pronum.value) + val;
               // var Cart_ProductOptionNo = $('.numP').attr("title");
                // var Cart_OwnerID = $('.numM').attr("title");

                //console.log(Cart_ProductOptionNo);
                  //console.log(@Session["User_ID"]);
                //var url = @Url.Action("SaveCartNumber","Cart"),new { id=@Session["User_ID"], id2="+Cart_ProductOptionNo+" });
                var url = `http://localhost:49636/Cart/SaveCartNumber?id=${c_Id}&id2=${p_No}`;
                //console.log("url => "+url);

                $.ajax({
                    url: url,
                    type: 'Post',
                    dataType: 'text',
                    data: {
                        num:val,
                    },
                    success: function (data) {
                        console.log("成功" + data);
                        changetotal();
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }






</script>



