﻿@using System.Data @*//因為用DataTable所以要使用這個命名空間*@


@model System.Data.DataTable
@*//指回傳回來的DataTable被建成一個Model 但因為是DataTable，即便是只有一筆資料也要指定他是哪一筆(Edit一次只會抓一筆資料出來)*@


@{
    ViewBag.Title = "修改密碼";

    //覺得每個欄位的值都用value="@Model.Rows[0]["fName"]" 很重複，想精簡的話是
    //把Row獨立拉出來
    DataRow row = Model.Rows[0];


}

    <div class="btn-group-horizontal" role="group">

        <ul class="nav nav-tabs nav-justified ">
            <li role="presentation">  @Html.ActionLink("個人檔案", "Edit", new { controller = "UserProfile", action = "Edit", id = @Session["User_ID"] })</li>
            <li role="presentation" class="active">@Html.ActionLink("修改密碼", "EditPwd", new { controller = "UserProfile", action = "EditPwd", id = @Session["User_ID"] })</li>
            <li role="presentation"> @Html.ActionLink("修改大頭照", "Edit", new { controller = "UserPic", action = "Edit", id = @Session["User_ID"] })</li>
            <li role="presentation">@Html.ActionLink("帳戶資料", "ShowCreditCard", new { controller = "CreditCard", action = "ShowCreditCard", id = @Session["User_ID"] })</li>
        </ul>
    </div>

    <h2>修改密碼</h2>
<h5>(密碼只限英數字)</h5>


<form class="form-horizontal">
    @*<div class="form-group"  >
            <label for="User_Password" class="control-label col-md-2">原有密碼</label>
            <div class="col-md-10">
                <input id="User_Password" name="User_Password" type="text" class="form-control"  value="@row["User_Password"]" />

            </div>
        </div>*@

    <div class="form-group">
        <label for="Old_User_Password" class="control-label col-md-2">舊密碼</label>
        <div class="col-md-10">
            <input id="Old_User_Password" name="Old_User_Password" type="password" class="form-control" required />
            @*<input type="button" id="ChangePwd" name="ChangePwd" value="忘記密碼?" class="text-info btn-sm  btn-link" />*@
            <div id="pwdwrong" style="font-size:small" class="hide text-danger">舊密碼輸入有誤</div>
            <div id="pwdnull" style="font-size:small" class="hide text-danger">此欄位不可空白</div>
        </div>
    </div>

    <div class="form-group">
        <label for="New_User_Password" class="control-label col-md-2">新密碼</label>
        <div class="col-md-10">
            <input id="New_User_Password" name="New_User_Password" type="password" class="form-control" required />
            <div id="pwdnull2" style="font-size:small" class="hide text-danger">此欄位不可空白</div>
            <div id="ruleErr" style="font-size:small" class="hide text-danger">僅可輸入英文及數字</div>

        </div>
    </div>

    <div class="form-group">
        <label for="Check_User_Password" class="control-label col-md-2">確認新密碼</label>
        <div class="col-md-10">
            <input id="Check_User_Password" name="Check_User_Password" type="password" class="form-control" required />
            <div id="pwdcheck" style="font-size:small" class="hide text-danger">與新密碼輸入不同</div>
            <div id="pwdnull3" style="font-size:small" class="hide text-danger">此欄位不可空白</div>


        </div>
    </div>
    
    <input id="btnSave" name="btnSave" type="button" value="儲存變更" class="col-md-offset-2"/>

    <div class="modal fade" id="MyModal" role="dialog"  data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">密碼變更成功</h4>
                </div>*@
                <div class="modal-body">
                    <h4>您的密碼已變更成功，請立即用新密碼重新登入</h4>
                </div>
                <div class="modal-footer">
                   
                        @Html.ActionLink("重新登入", "Logout","WebHome",null,new { @class="btn btn-danger" })
                   
                </div>
            </div>

        </div>
    </div>

   

</form>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    //$('#save').click(function () {
    //    console.log("成功");
    //}

        var result=@row["User_Password"];

    $('#btnSave').click(function () {
        $('#pwdnull').addClass('hide');
        $('#pwdwrong').addClass('hide');
        $('#pwdnull2').addClass('hide');
        $('#pwdnull3').addClass('hide');
        $('#pwdcheck').addClass('hide');
        $('#ruleErr').addClass('hide');

        var rule = /^[a-zA-Z0-9]*$/;

        if ($('#Old_User_Password').val().length <= 0) {
            $('#pwdnull').removeClass('hide');
        }

        else if ($('#New_User_Password').val().length <= 0) {

            $('#pwdnull2').removeClass('hide');
        }


        else if ($('#Check_User_Password').val().length <= 0) {
            $('#pwdnull3').removeClass('hide');
        }

        else if ($('#New_User_Password').val() != $('#Check_User_Password').val()) {

            $('#pwdcheck').removeClass('hide');

        }
        else if (!rule.test($('#New_User_Password').val())) {
            //$('#pwdnull2').text("僅可輸入英文及數字");
            $('#ruleErr').removeClass('hide');
        }
        else if ($('#Old_User_Password').val() != result) {

            $('#pwdwrong').removeClass('hide');
        }

        else if (!rule.test($('#Old_User_Password').val())) {
            //$('#pwdnull2').text("僅可輸入英文及數字");
            $('#pwdwrong').removeClass('hide');
        }



          else {
              //console.log("error");

              $.ajax({
                  url: '@Url.Action("SaveNewPwd","UserProfile")',
                  type: 'Post',
                  dataType: 'json',
                  data: {
                      User_Password: $('#New_User_Password').val(),

                  },
                  success: function (data) {
                      console.log("成功" + data.User_Password);
                      //$('#User_Password').val(data.User_Password);

                      $('#MyModal').modal('show');

                  },
                  error: function (e) {
                      console.log(e);
                  }
              });
          }

        //  $('#form').addClass(function () {
        //if ($('#User_BuyerName').val().length > 14)
        //          return false;


      });

</script>
