﻿@using System.Data @*//因為用DataTable所以要使用這個命名空間*@


@model System.Data.DataTable
@*//指回傳回來的DataTable被建成一個Model 但因為是DataTable，即便是只有一筆資料也要指定他是哪一筆(Edit一次只會抓一筆資料出來)*@


@{
    ViewBag.Title = "個人檔案";

    //覺得每個欄位的值都用value="@Model.Rows[0]["fName"]" 很重複，想精簡的話是
    //把Row獨立拉出來
    DataRow row = Model.Rows[0];


}

<style>
</style>


<div class="btn-group-horizontal" role="group">

    <ul class="nav nav-tabs nav-justified ">
        <li role="presentation" class="active"><a href="#">我的檔案</a></li>
        <li role="presentation">@Html.ActionLink("修改密碼", "EditPwd", new { controller = "UserProfile", action = "EditPwd", id = @Session["User_ID"] })</li>
        <li role="presentation"> @Html.ActionLink("修改大頭照", "Edit", new { controller = "UserPic", action = "Edit", id = @Session["User_ID"] })</li>
        <li role="presentation">@Html.ActionLink("帳戶資料", "ShowCreditCard", new { controller = "CreditCard", action = "ShowCreditCard", id = @Session["User_ID"] })</li>
    </ul>
</div>

<h2>個人檔案</h2>


<div id="divName"></div>



<form method="post" action="@Url.Action("Edit")" class="form-horizontal" id="form" >
    @*//"form-horizontal"是form的bootstrap，會自己下各欄位的margin距離和水平排列*@
    <hr />
    @*//在<form>裡面的欄位名稱，最好用<label>包住 label for="id"*@
    @*//name是給後端抓的，id是前端用的*@
    <div class="form-group">

        <label id="Account" name="Account" class="col-md-2 bg-info " style="padding:4px;text-align:right;padding-right:14px">帳號</label>

        <div class="col-md-10 ">
            @*//這裡input text的value(要填入的值)是從DataTable(Model)去抓[第幾個][name]，而Edit一次只會抓一筆資料出來修改，所以都是[0](第一筆) Rows是只抓出來是橫的*@
            @*<div id="User_Account" name="User_Account" style="padding:4px ">@row["User_Account"]</div>*@
            <input id="User_Account" name="User_Account" type="text" style="outline:none;border:0;height:28px;width:280px;background-color:palegoldenrod" readonly value="@row["User_Account"]" />
            @*<p  id="User_Account" name="User_Account"  style="height:28px;width:280px" >@row["User_Account"]</p>*@
        </div>
    </div>

    @*<div class="form-group">
            <label for="User_Password" class="control-label col-md-2">密碼</label>  //label外觀就用"control-label" 用col-md-2 網格系統就會換行
        <div class="col-md-10">
            //input和label搭配的網格系統(一個佔2，一個佔10)，input的要再用div包起來並把col-md-10下在div
            <div id="User_Password" name="User_Password" type="password"  style="padding:4px "/>  用"form-control"框會變圓
        <input type="button" id="ChangePwd" name="ChangePwd" value="變更密碼" class="text-info btn-sm  btn-link" />
        </div>
        </div>*@

    <div class="form-group">
        <label for="User_BuyerName" class="control-label col-md-2">暱稱</label>
        <div class="col-md-10">
            <input id="User_BuyerName" name="User_BuyerName" maxlength="15" type="text" class="form-control" required value="@row["User_BuyerName"]" />
            <div id="buyernamelength" style="font-size:small" class="hide">字數最多僅能15字</div>
        </div>
    </div>

    <div class="form-group">
        <label for="User_TrueName" class="control-label col-md-2" style="padding:4px;text-align:right;padding-right:14px">真實姓名</label>
        <div class="col-md-10">
            @*<input id="User_TrueName" name="User_TrueName" type="text" style="outline:none;border:0" readonly value="@row["User_TrueName"]" />*@
            @*<div name="User_TrueName" >@row["User_TrueName"]</div>*@
            @*<div id="User_TrueName" name="User_TrueName" style="padding:4px;vertical-align:bottom"></div>*@
            
            <input id="User_TrueName" name="User_TrueName" type="text" style="outline:none;border:0;background-color:transparent" readonly value="@row["User_TrueName"]" />
        </div>
    </div>

    <div class="form-group">
        <label for="User_Email" class="control-label col-md-2" style="padding:4px;text-align:right;padding-right:14px">信箱</label>
        <div class="col-md-10">
            <input id="User_Email" name="User_Email" type="text" style="outline:none;border:0;background-color:transparent"   readonly value="@row["User_Email"]" />
            @*<div id="User_Email" name="User_Email" style="padding:4px;vertical-align:bottom"></div>*@
        </div>
    </div>

    <div class="form-group">
        <label for="User_Phone" class="control-label col-md-2" style="padding:4px;text-align:right;padding-right:14px">手機</label>
        <div class="col-md-10">
            <input id="User_Phone" name="User_Phone" type="text" style="outline:none;border:0;background-color:transparent" readonly value="@row["User_Phone"]" />
            @*<div id="User_Phone" name="User_Phone" style="padding:4px;vertical-align:bottom"></div>*@
        </div>
    </div>

    @*<div class="form-group">
        <label for="User_Gender" class="control-label col-md-2">性別</label>
        <div class="col-md-10">
            @row["User_Gender"]
            <input id="User_Gender_T" type="radio" name="User_Gender" value=" True">男
            <input id="User_Gender_F" type="radio" name="User_Gender" value=" False">女

        </div>*@

    @*</div>*@


    <div class="form-group">
        <label for="User_Birth" class="control-label col-md-2" style="padding:4px;text-align:right;padding-right:14px">生日</label>
        <div class="col-md-10">
            <input id="User_Birth" name="User_Birth" type="text" style="outline:none;border:0;background-color:transparent" readonly value="@row["User_Birth"].ToString().Replace("上午","").Replace("12:00:00","") " />
            @*<div id="User_Birth" name="User_Birth" style="padding:4px;vertical-align:bottom"></div>*@
        </div>
    </div>

    <div class="form-group">
        <label for="User_Address" class="control-label col-md-2">居住地址</label>
        <div class="col-md-10">
            <input id="User_Address" name="User_Address" type="text" class="form-control" required value="@row["User_Address"]" />
        </div>
    </div>




    <div class="form-group">

        <div class="col-md-10 col-md-offset-2">

            <input id="save" type="submit" value="更新資料" class="btn btn-block btn-success" />
        </div>

    </div>

</form>

@*<p>
    @Html.ActionLink("修改密碼", "EditPwd", new { controller = "UserProfile", action = "EditPwd", id = @Session["User_ID"] })
</p>
<p>
    @Html.ActionLink("修改大頭照", "Edit", new { controller = "UserPic", action = "Edit", id = @Session["User_ID"] })
</p>
<p>
    @Html.ActionLink("帳戶資料", "ShowCreditCard", new { controller = "CreditCard", action = "ShowCreditCard", id = @Session["User_ID"] })
</p>
<p>
   
</p>*@


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    @*function fnSend() {
        var @row["User_Gender"]=$("[name=User_Gender]:checked").val();
        if (@row["User_Gender"] == false) {
            $(User_Gender).val() == false;

        } else {
            $(User_Gender).val() == true;
        }
    }*@


    @*function fnSend() {
        var @row["User_Gender"] = result;
        result = "";
         $("input[type=radio]:checked").each(function () {
        result = $(this).val() ;
            });

        function fnSend() {
            var gender = document.getElementById("@row["User_Gender"]").value
            for(var i=0; i<form.language.length;i++){
                if (form.language[i].checked) {
                    var language = form.language[i].value;
                    alert(language);*@
                @*}

                function fnSend() {
                    var @row["User_Gender"] = result;

                    if (result == true) {

                        $("#User_Gender_T").addClass("checked");
                    } else {

                        $("#User_Gender_F").addClass("checked");
                    }


                }*@

    //檢查性別
     @*@row["User_Gender"]=$("[name=User_Gender]:checked").val();
    $("[name=User_Gender]:checked").val() = result;
    if (result = "False") {
       $("#User_Gender_T").addClass("checked");
    }
    else
    {*@
    //      $("#User_Gender_F").addClass("checked");
    //}

      //$("#User_Gender_T").prop("checked") == false
     // $("#User_Gender_F").prop("checked") == true

    //$('input:radio:checked[name="gender"]').val();



    @*$('#divName').append("@row["User_BuyerName"]" + "您好！" + "<br>" + "請編輯欲修改的個人資料")
    $("#User_Account").append("@row["User_Account"]")
    $("#User_TrueName").append("@row["User_TrueName"]")
    $("#User_Email").append("@row["User_Email"]")
    $("#User_Phone").append("@row["User_Phone"]")
    $("#User_Birth").append("@row["User_Birth"]")
    $("#save").click(function () {

    })*@

    // $("#User_Birth").val($.datepicker.formatDate('dd M yy', new Date()));
    //$("#User_Birth").text=Convert.ToDateTime(e.Item.Cell[0].Text).ToShortDateString();
    // $("#txtDate").val($.datepicker.formatDate('dd M yy', new Date()));
    //User_Birth.Replace("/", "").Replace(":", "").Replace(" ", "").Replace("上午", "").Replace("下午", "")

        @*var formattedDate = new Date("@row["User_Birth"]");
        var d = formattedDate.getDate();
        var m =  formattedDate.getMonth();
        m += 1;  // JavaScript months are 0-11
        var y = formattedDate.getFullYear();*@

    $('#User_BuyerName').keyup(function () {
        console.log($('#User_BuyerName').val().length);
        if ($('#User_BuyerName').val().length >= 15) {

            $('#buyernamelength').removeClass('hide');
        } else {
            $('#buyernamelength').addClass('hide');
        }
    });


    $('#form').submit(function () {
        if ($('#User_BuyerName').val().length > 14)
            return false;
    });
</script>