﻿@using System.Data @*//因為用DataTable所以要使用這個命名空間*@


@model System.Data.DataTable
@*//現在model是從DataTable來*@ @*//指回傳回來的DataTable被建成一個Model*@

@{
    ViewBag.Title = "會員資料";
}

    <h2>會員資料</h2>
    <p>
        @*<a href="../Home/Create">新增學生資料</a> //這是舊的寫死路徑的寫法，建議用helper創ActionLink*@

        @*@Html.ActionLink("修改", "Edit", null, new { @class = "btn btn-primary" })*@
        @*//若想把這個ActionLink變按鈕，第三格要先放URL的參數(fStuId)，第四格才能會Html屬性
        若要寫第四格，第三格不能不寫，如果沒有要給參數，可以放null(新增不須給值PK，所以參數就給null)
        第四格就放按鈕的屬性*@
       
    </p>

@if (Model.Rows.Count == 0)
{
    <h1 class="text-danger">無任何資料</h1>

}
else
{
    <div class="row">
        @foreach (DataRow row in Model.Rows) //因為不知道有多少資料所以用迴圈放在<div>外，有幾筆就產生幾組<div>
        {<div class="col-md-3 col-sm-6">
                @*//大的時候4個一排，小的時候兩個一排*@
             <div class="thumbnail">
                 @*//這裡一個div就是一個資料格，thumbnail是一種框框*@

                 <h3>@row["User_ID"]</h3>
                 <p class="text-right">帳號:@row["User_Account"]</p>
                 @*<h1 class="text-center">@row["User_Email"]</h1>*@
                 <p class="alert alert-info">伊妹兒:@row["User_Email"]</p> @*//alert像被藍色大框框包住*@

                 <hr />
                 <p>@Html.ActionLink("修改", "Edit", new { controller = "UserProfile", action = "Edit", id = @Session["User_ID"] }, new { @class = "btn btn-danger" })</p>
                 @*<p>@Html.ActionLink("帳戶管理", "Edit", new { controller = "Users", action = "Edit", id = @Session["User_ID"] }, new { @class = "dropdown-item" })</p>*@
             </div>
            </div>
        }
    </div>
}



