﻿@model IEnumerable<ProjectTest.Models.Issuer>


@using (Html.BeginForm(""))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>銀行帳戶</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Issuer_Name" class="control-label col-md-2">發卡行</label>
            <div class="col-md-10">
                <select id="Issuer_Name" name="Issuer_Name" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Issuer_No">@item.Issuer_Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="BankAccount_Account" class="control-label col-md-2">銀行帳戶號碼</label>
            <div class="col-md-10">
                <input id="BankAccount_Account" name="BankAccount_Account" type="text" class="form-control" required />
            </div>
        </div>
        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="確認" class="btn btn-default" />
                    </div>
                </div>
            
    </div>

    @*<button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>*@
    @*<input id="Submit1" type="submit" value="新增" class="btn btn-success" />*@


}

<div>
    @Html.ActionLink("取消新增", "ShowCreditCard", "CreditCard", new { id = @Session["User_ID"] },new {  @class="btn btn-danger"})

</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
