﻿@using System.Data

@model System.Data.DataTable
@{
    Layout = "~/Views/Shared/_Layout_StoreCenter.cshtml";
    ViewBag.Title = "賣場介紹";
}
@*賣場狀態的開關設計樣式*@
<link href="~/Content/StyleOfFilpSwitch.css" rel="stylesheet" />
<style>
    .cover_size {
        height: 300px;
        width: 450px;
    }

    .cover_pic_size {
        height: inherit;
        width: inherit;
    }
    /*隱藏原始input檔案上傳設計*/
    input[type="file"] {
        display: none;
    }
    /*文字輸入框取消調整大小功能*/
    textarea {
        resize:none;
        max-width: 100% !important;
        width: 500px !important;
    }


</style>


@foreach (DataRow row in Model.Rows)
{
    <div class="row container" style="margin-top:50px;">
        <h2 style="margin-left:10px;">賣場介紹</h2>
        <div class="col-md-5">
            <div class="cover_size">
                <img id="cover_pic" alt="@row["User_StoreCoverPic"].ToString()" class="cover_pic_size" />
            </div>
            <div>
                <label for="cover" class="btn btn-default">
                    @*<svg class="bi bi-image" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.002 2h-12a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12z" />
                            <path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z" />
                            <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                        </svg>*@
                    <span class="glyphicon glyphicon-picture"></span>
                    上傳封面相片
                </label>
                <input type="file" id="cover" name="cover" accept="image/*" />
            </div>
            
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label>賣場名稱</label>
                <div>
                    <input type="text" id="name" name="name" value="@row["User_StoreName"]" class="form-control"/>
                </div>
                <p id="name_invaild" class="hide text-danger"></p>
            </div>
            <div class="form-group">
                <label>賣場簡介</label>
                <div>
                    <textarea id="intro" rows="8" maxlength="500" class="form-control">@row["User_StoreIntroduction"]</textarea>
                    <p id="text_length"></p>
                </div>

            </div>
            <div class="form-group">
                <label>賣場狀態</label>
                <p id="store_status" class="hide">@row["StoreS_Status"]</p>
                <div id="switch" class="onoffswitch hide">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>

            <div>
                <span id="save" class="btn btn-danger">儲存</span>
            </div>
            
        </div>
    </div>

}

@section store_edit{
    <script>


    //檢查是否已有賣場封面圖，沒有則使用預設圖片
    if ($('#cover_pic').attr('alt') != "") {
        $('#cover_pic').attr("src","../photo/store_profile/"+$('#cover_pic').attr('alt'));
    }
    else{
        $('#cover_pic').attr("src","../photo/store_profile/store_cover_default.jpg");
    }

    //賣場狀態已開通才顯示開關按鈕
    if ($('#store_status').text() == "開放中")
    {
        $('#myonoffswitch').prop("checked",true);
        $('#switch').removeClass('hide');
    }
    else if ($('#store_status').text() == "準備中")
    {
        $('#myonoffswitch').prop("checked", false);
        $('#switch').removeClass('hide');
    }
    else {
        $('#store_status').removeClass('hide');
    }

    //賣場簡介的字數顯示
    $('#text_length').text($('#intro').val().length + "/500字");

    $('#intro').keyup(function () {
        var l = $('#intro').val().length;
        $('#text_length').text(l + "/500字");
    });

    //按下儲存按鈕，確認賣場名稱長度
    $('#save').click(function () {

        if ($('#name').val().length < 1) {
            $('#name_invaild').text("賣場名稱必填");
            $('#name_invaild').removeClass('hide');
        }
        else if ($('#name').val().length < 16) {
            var status = "x";
            if($('#store_status').text() != "未開通")
                status = $('#myonoffswitch').is(":checked") ? "1":"2";

            //輸入合法名稱，執行儲存
            $('#name_invaild').addClass('hide');
            $.ajax({
                url: '@Url.Action("EditSave","StoreProfile")',
                type: 'Post',
                dataType: 'json',
                data: {
                    name: $('#name').val(),
                    intro: $('#intro').val(),
                    status: status,
                    cover_pic: $('#cover_pic').attr("alt")
                },
                success: function (data) {
                    console.log("成功" + data.name + "/" + data.intro + "/" + data.status + "/" + data.cover_pic);
                    $('#name').val(data.name);
                    $('#intro').val(data.intro);
                },
                error: function (e) {
                    console.log(e);
                }
            });

        }
        else {
            $('#name_invaild').text("賣場名稱不可超過15個字");
            $('#name_invaild').removeClass('hide');
        }
    });

    //上傳新封面圖的預覽
    $('#cover').change(function (evt) {
        var files = evt.target.files;
        var file = files[0];

        if (file != null) {

            console.log(file.name);
            console.log(file);

            var data = new FormData();
            data.append("cover", file);

            $.ajax({
                url: '@Url.Action("EditCover","StoreProfile")',
                type: 'Post',
                dataType: "text",
                data: data,
                processData: false,
                contentType : false,
                success: function (pic) {
                    $('#cover_pic').attr("src", "../photo/store_profile/" + pic);
                    $('#cover_pic').attr("alt",  pic);
                   console.log("成功"+pic+"/"+$('#cover_pic').attr("alt"));
               },
               error: function (e) {
                   console.log(e);
               }
            });

        }
        else console.log("沒有選取檔案");
    });
    </script>

}


