﻿@model ProjectTest.Models.ViewCart

@{
    ViewBag.Title = "結帳";
    var cartorder = ViewBag.Order;
    var now = "";
    var pre = "";
    int count = ViewBag.OrderCount;

}

<h2>結帳</h2>

@using (Html.BeginForm(""))
{
    <div class="form-horizontal">
        <div class="thumbnail raw" id="order">
            <div class="container row text-center" style="color:#808080">
                <div class="col-md-2"></div>
                <div class="col-md-2">品名</div>
                <div class="col-md-2">規格</div>
                <div class="col-md-2">單價</div>
                <div class="col-md-2">數量</div>
                <div class="col-md-2">總價</div>
            </div>

            @foreach (var item in cartorder)
            {
                //string double_Pk = item.Cart_OwnerID + item.Cart_ProductOptionNo;

                now = item.GetType().GetProperty("pseller").GetValue(item);
                if (pre != now && pre != "")
                {

                    <div class="container row storename" style="height:105px;width:inherit;margin-top:15px;padding-top:20px;background-color:#fbb8b8">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label for="PO_ShipTypeNo" class="col-md-3 text-right">商場</label>
                                <div class="col-md-9" style="height:30px">@pre</div>
                            </div>
                            <div class="col-md-4">
                                <label for="PO_ShipTypeNo" class="col-md-4 text-right">運送方式</label>
                                <div class="col-md-8">

                                    <select name="PO_ShipTypeNo" class="form-control ">
                                        @foreach (var ships in Model.shipTypes)
                                        {

                                            <option value="@ships.ShipT_No">@ships.ShipT_Type   $@String.Format("{0:f0}", @ships.ShipT_Fare)</option>

                                        }

                                    </select>

                                </div>
                            </div>

                            <div class="col-md-4" style="margin-bottom:10px">
                                <label for="PO_RecipientAddress" class="col-md-4 text-right">收件地址</label>
                                <input type="text" name="PO_RecipientAddress" class="col-md-8" value="@item.GetType().GetProperty("useraddress").GetValue(item)" />
                            </div>
                        </div>


                        <div class="col-md-12" style="margin-top:10px">
                            <div class="col-md-4">
                                <label for="PO_Receiver" class="col-md-4 text-right">收件人姓名</label>
                                <input type="text" name="PO_Receiver" class="col-md-8" value="@item.GetType().GetProperty("username").GetValue(item)" />
                            </div>
                            <div class="col-md-4">
                                <label for="PO_RecipientPhone" class="col-md-4 text-right">收件人手機</label>
                                <input type="text" name="PO_RecipientPhone" class="col-md-8" value="@item.GetType().GetProperty("userphone").GetValue(item)" />
                            </div>
                            <div class="ordertotal col-md-4">
                                <label for="PO_Total" class="col-md-4 text-right">訂單金額</label>
                                <input type="text" name="PO_Total" class="col-md-8" readonly/>
                            </div>
                        </div>
                        <input type="text" name="PO_RecipientEmail" class=" hidden" value="@item.GetType().GetProperty("useremail").GetValue(item)" />

                    </div>
                    <br />

                }

                <div class="container row text-center store" style="padding-top:10px">
                    <div class="col-md-2">
                        <div>
                            @if (item.GetType().GetProperty("ppic").GetValue(item) != "")
                            {
                                <img src="../../photo/product/@item.GetType().GetProperty("ppic").GetValue(item)" style="width: 100px; height: 100px" />
                            }
                            else
                            {
                                <img src="../../photo/product/p0.jpg" style="width:100px;height:100px" />
                            }
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align:center;align-items:center;display:flex;height:80px">@item.GetType().GetProperty("pname").GetValue(item)</div>

                    <div class="col-md-2 container row text-center" style="text-align:center;line-height:80px">
                        <div class="col-md-3" style="width:78.33px">@item.GetType().GetProperty("poption1").GetValue(item)</div>
                        <div class="col-md-3" style="width:78.33px">@item.GetType().GetProperty("poption2").GetValue(item)</div>

                    </div>

                    <div class="col-md-2 pprice" style="align-items:center;display:flex;height:80px;padding-left:85px" >@String.Format("{0:f0}", @item.GetType().GetProperty("pprice").GetValue(item))</div>

                    <div class="col-md-2 pnumber " style="padding-left:70px;align-items:center;display:flex;height:80px;padding-left:120px" >@item.GetType().GetProperty("pnumber").GetValue(item)</div>


                    <div class="col-md-2 ptotal" style="padding-left:70px;align-items:center;display:flex;height:80px;padding-left:105px"></div>
                </div>
                <input type="text" class="hidden" name="PODetails_ProductOptionNo" value="@item.GetType().GetProperty("p_optionNo").GetValue(item)">
                <input type="number" class="hidden" name="PODetails_Number" value="@item.GetType().GetProperty("pnumber").GetValue(item)" />
                pre = now;  //把現在的丟到前一個
                now = ""; //把現在的清空開始跑下個迴圈

                count--;

                if (count == 0)
                {
                    <div class="container row storename" style="height:105px;width:inherit;margin-top:15px;padding-top:20px;background-color:#fbb8b8">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label for="PO_ShipTypeNo" class="col-md-3 text-right">商場</label>
                                <div class="col-md-9" style="height:30px">@pre</div>
                            </div>
                            <div class="col-md-4">
                                <label for="PO_ShipTypeNo" class="col-md-4 text-right">運送方式</label>
                                <div class="col-md-8">

                                    <select name="PO_ShipTypeNo" class="form-control">
                                        @foreach (var ships in Model.shipTypes)
                                        {

                                            <option value="@ships.ShipT_No">@ships.ShipT_Type   $@String.Format("{0:f0}", @ships.ShipT_Fare)</option>
                                           
                                        }

                                    </select>

                                </div>
                            </div>

                            <div class="col-md-4" style="margin-bottom:10px">
                                <label for="PO_RecipientAddress" class="col-md-4 text-right">收件地址</label>
                                <input type="text" name="PO_RecipientAddress" class="col-md-8" value="@item.GetType().GetProperty("useraddress").GetValue(item)" />
                            </div>
                        </div>


                        <div class="col-md-12" style="margin-top:10px">
                            <div class="col-md-4">
                                <label for="PO_Receiver" class="col-md-4 text-right">收件人姓名</label>
                                <input type="text" name="PO_Receiver" class="col-md-8" value="@item.GetType().GetProperty("username").GetValue(item)" />
                            </div>
                            <div class="col-md-4">
                                <label for="PO_RecipientPhone" class="col-md-4 text-right">收件人手機</label>
                                <input type="text" name="PO_RecipientPhone" class="col-md-8" value="@item.GetType().GetProperty("userphone").GetValue(item)" />
                            </div>
                            <div class="ordertotal col-md-4">
                                <label for="PO_Total" class="col-md-4 text-right">訂單金額</label>
                                <input type="text" name="PO_Total" class="col-md-8" readonly/>
                            </div>
                        </div>
                        <input type="text" name="PO_RecipientEmail" class=" hidden" value="@item.GetType().GetProperty("useremail").GetValue(item)" />

                    </div>

                }
            }



        </div>
        <div >
            <div class="col-md-6 text-right">
                <label for="PO_PayTypeNo" class="control-label col-md-2" style="margin-bottom:15px">付款方式</label>
                <div class="col-md-4">
                    <select id="PO_PayTypeNo" name="PO_PayTypeNo" class="form-control">
                        @foreach (var credit in Model.payTypes)
                        {
                            <option value="@credit.PayT_No">@credit.PayT_Type</option>

                        }
                    </select>

                </div>
            </div>

            <div  class="col-md-6" >
                <label for="PO_Total" class="control-label col-md-2">總計</label>
                <div class="col-md-4"><input type="text" id="PO_Total" class="PO_Total form-control" name="PO_Total" readonly /></div>
                
            </div>
        </div>
            <div class="form-group text-center">
                <div class=" col-md-10">
                    <input type="submit" value="下訂單" class="btn btn-default" />
                </div>
            </div>
        
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    function SetTotal() {
        let subtotal = 0;
        let total = 0;
        $('.store,.storename').each(function () {
            if ($(this).hasClass('store')) {
                let temp = $(this).children('.pprice').text() * $(this).children('.pnumber').text();
                $(this).children('.ptotal').text(temp);
                subtotal += temp;
            }
            if ($(this).hasClass('storename')) {
                let fare_type = $(this).children().children().children().children('select').val();
                let f = fare_type == "5" ? 100 : 60;
                $(this).children().children('.ordertotal').children(2).val(subtotal + f);
                total += subtotal+f;
                subtotal = 0;
            }
        });
        $('#PO_Total').val(total);
    };
    SetTotal();

    $('#order select').change(function () {
        SetTotal();
    });

    //var sum = 0;
    //$.each($('.ptotal'), function () {
    //    var a = $(this).prev().prev().text() * $(this).prev().text();
    //    $(this).text("$" + a);
    //    sum += a;
    //});

    //var fare = 0;
    //$.each($('#order select'), function () {

    //    if ($(this).val() == "5") {

    //        fare += 100;
    //    } else {
    //        fare += 60;
    //    }
    //    console.log($(this).val());
    //});
    //$('#PO_Total').val(sum + fare);


    //$('#order select').change(function () {
    //    SetSubtotal();
    //    fare = 0;
    //    $.each($('#order select'), function () {
    //        if ($(this).val() == "5") {
    //            fare += 100;
    //        } else {
    //            fare += 60;
    //        }
    //    });
    //    $('#PO_Total').val(sum + fare);

    //});

    //$.each($('.ordertotal input'), function () {

    //    let a = $('P_double_Pk').val();
    //    let id = $(e.target).attr('id').substr(2,10);
    //    let no = $(e.target).attr('id').substr(12);
    //    if (a == "M") {
    //        NumBtnChange(+$("#C_" + id + no).val() - 1, id, no);  //第一個+是把string轉型成數字
    //        $("#C_" + id + no).val(+$("#C_" + id + no).val() - 1); //等於是在頁面先減一，而不是重讀資料庫的值
    //    } else if (a == "P") {
    //        NumBtnChange(+$("#C_" + id + no).val() + 1, id, no);
    //        $("#C_" + id + no).val(+$("#C_" + id + no).val() + 1);
    //    }
    //    var a = $('.pprice').text() * $('.pnumber').text();
    //    $(this).val("$" + a);
        

    //     });
</script>







