﻿@model IEnumerable<ProjectTest.Models.ProductOrderDetails>

@{
    ViewBag.Title = "ShowOrderDetail";
    var cartorder = ViewBag.Order;
}

<h2>訂單詳情</h2>


@foreach (var item in Model)
{
<div class="col-md-12 row" style="background-color:rgba(233, 104, 104,1);margin-top:10px">
    <label for="PO_ShipTypeNo" class="col-md-1 text-left" style="color:#ffffff;font-size:18px">商場</label>
    <div class="col-md-10 text-left" style="font-size:20px;color:#ffffff" >@item.ProductOption.Product.User.User_StoreName</div>
</div>
    break;
}


<table class="table ">

    <tr>
        <th>
            商品圖
        </th>
        <th>
            品名
        </th>
        <th>
            規格一
        </th>
        <th>
            規格二
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PODetails_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PODetails_SubTotal)
        </th>

        <th>
            付款方式
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img />
                @if (item.ProductOption.POption_Pic != "")
                {
                    <img src="../../photo/product/@item.ProductOption.POption_Pic" style="width: 100px; height: 100px" />
                }
                else
                {
                    <img src="../../photo/product/p0.jpg" style="        width: 100px;
        height: 100px" />
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOption.Product.P_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOption.POption_Name1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOption.POption_Name2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PODetails_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PODetails_SubTotal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductOrder.PayType.PayT_Type)
            </td>
            <td>
            </td>
        </tr>
    }

</table>
<p class="text-center">
    @Html.ActionLink("返回上一頁", "ShowOrders", new { id = @Session["User_ID"] })
</p>
