﻿@model IEnumerable<ProjectTest.Models.ProductOrder>

@{
    ViewBag.Title = "ShowOrders";
   
}

<h2>購買清單</h2>
    <table class="table">
        <tr>
            <th>
                訂單編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_CreateDate)
            </th>
            <th>
                總金額
            </th>
            <th>
                收件人
            </th>
            <th>
                收件地址
            </th>
            <th>
                收件人電話
            </th>
            <th>
                付款方式
            </th>
            <th>
                訂單狀態
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipType.ShipT_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipStatus.ShipS_Status)
            </th>
            <th>

            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.PO_CancelDate)
            </th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_RecipientAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_RecipientPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayType.PayT_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductOrderStatus.POS_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipType.ShipT_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipStatus.ShipS_Status)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.PO_CancelDate)
                </td>
                <td>

                    @Html.ActionLink("訂單詳情", "ShowOrderDetail", new { po_no = item.PO_No })

                </td>
            </tr>

        }

    </table>
    @if (ViewBag.Po == "0")
    {
        <h2 class="text-center">尚未有訂單資料</h2>
    }

    <p class="text-center" style="margin-top:15px">
        @Html.ActionLink("回首頁", "HomePage", new { controller = "WebHome", action = "HomePage" }, new { @class = "btn btn-warning", @style = "width:140px " })
    </p>
