﻿@model ProjectTest.Models.ViewProduct
@{
    ViewBag.Title = "Home";
}


<style>
    .photosize {
        width: 100%;
        height: 400px;
    }

    .mt_30 {
        margin-top: 30px;
    }

    .mt_5 {
        margin-top: 5px;
    }

    .p_5 {
        padding: 5px;
    }

    .m_5 {
        margin: 5px;
    }

    .option_checked {
        border: 1px groove red;
        color: red;
        background-color: #f1eabf;
    }
    #format1 span:hover, #format2 span:hover {
        background-color: #f1eabf;
        color: red;
    }

</style>

<div class="container">


    <div class="row">
        <div class="col-md-5">
            <img id="p_pic" alt="@Model.product.P_Pic" class="photosize" style="border:1px solid" />
        </div>
        <div class="col-md-7">
            <h2>@Model.product.P_Name</h2>
            <div class="p_5 bg-info ffffaa ">
                <p id="p_min_price" class="hide">@String.Format("{0:c0}", ViewBag.min_price)</p>
                <p id="p_max_price" class="hide">@String.Format("{0:c0}", ViewBag.max_price)</p>
                <h4 id="p_price"></h4>
            </div>

            <div id="format">
                <p id="Fnum" class="hide">@ViewBag.Fnum</p>
                @*列出所有規格一的選項*@
                <div class="row mt_30 p_5" id="format1">
                    <div class="col-md-3">
                        <p>@Model.product.ProductFormat.PFormat_Name</p>
                    </div>
                    <div class="col-md-9">
                        @foreach (var o in Model.Option1)
                        {
                            if (o != "")
                            {<span class="btn btn-default m_5">@o</span>}
                    }
                    </div>
                </div>

                @*列出所有規格二的選項*@
                <div class="row mt_5 p_5" id="format2">
                    <div class="col-md-3">
                        <p>@Model.product.ProductFormat1.PFormat_Name</p>
                    </div>
                    <div class="col-md-9">
                        @foreach (var o in Model.Option2)
                        {
                            if (o != "")
                            {<span class="btn btn-default m_5">@o</span>}
                    }
                    </div>
                </div>
            </div>


            @*列出所有運送選項*@
            <div class="row mt_5 p_5">
                <div class="col-md-3">
                    <p>可運送方式及運費</p>
                </div>
                <div class="col-md-9">
                    @foreach (var s in Model.ShipFare)
                    {
                        if (s.ShipT_Type != "")
                        {<span class="m_5">【@s.ShipT_Type】@String.Format("{0:c0}", s.ShipT_Fare)</span>}
                }
                </div>
            </div>

            @*列出所有付款選項*@
            <div class="row mt_5 p_5">
                <div class="col-md-3">
                    <p>可付款方式</p>
                </div>
                <div class="col-md-9">
                    @foreach (var p in Model.Pay)
                    {
                        if (p.PayT_Type != "")
                        {<span class="m_5">【@p.PayT_Type】</span>}
                }
                </div>
            </div>

            @*選擇數量*@
            <div class="row mt_5 p_5">
                <div class="col-md-3">
                    <p>購買數量</p>
                </div>
                <div class="col-md-5">
                    <button id="number_left">&laquo;</button>
                    <input id="number" type="text" maxlength="3" size="1" class="text-center" value="1" />
                    <button id="number_right">&raquo;</button>
                    <span id="stock" style="color:#c3c0c0"></span>
                </div>
            </div>

            @*提交購買資料*@
            <div class="row mt_5 p_5">
                <div>
                    <input type="submit" id="ToCart" value="加入購物車" class="col-md-3 btn-default" />
                </div>
                <div>
                    <input type="submit" id="ToBuy" value="直接購買" class="col-md-3 btn-default" />

                </div>
                <div>
                    <span id="alert_buy" class="text-danger hide"> 請先登入會員</span>
                </div>
                <p id="product" class="hide">@Model.product.P_No</p>
                <p id="option1" class="hide">0</p>
                <p id="option2" class="hide">0</p>
            </div>

        </div>

    </div>

    <div class="row container" style="margin-top:30px">
        <h3><span class="glyphicon glyphicon-home"></span> 賣場 【@Model.product.User.User_StoreName】 </h3>
    </div>
    <div class="row container">
        <div class="col-md-4" style="width:300px;height:200px;border-radius:5%"><img id="user_photo" onerror="this.onerror='';this.src='/photo/store_profile/store_cover_default.jpg'" src="/photo/store_profile/@Model.product.User.User_StoreCoverPic" style="width:inherit;height:inherit;border-radius:inherit" /></div>
        
        <div class="col-md-7" style="margin-left:30px;">@Html.Raw(Model.product.User.User_StoreIntroduction.Replace("\n", "<br>"))</div>
    </div>

    <div class="row container">
        <div class="p_5 mt_30 bg-info ffffaa ">
            <h2>商品詳情</h2>
        </div>
        <div class="mt_5 col-md-10">
            @Html.Raw(Model.product.P_Details)
        </div>

    </div>
    <p id="user_id" class="hide">@Session["User_ID"]</p>

</div>
<hr />
@*<p>
    @Html.ActionLink("新增留言", "ComCreat","ViewProduct")
</p>*@
<div class="text-center">
    <h3 style="font-family:'微軟正黑體';color:#808080"><strong>留言</strong></h3>
</div>
<hr />
<div >
    @*新增留言趴修VIEW*@
    @Html.Action("_ComCreat")
</div>

<hr />
<div>
    @*留言趴修VIEW*@
    @Html.Action("_Comment")
</div>

@section view_product{
    <script>
    //初始化圖和價錢
    function init() {
        //若資料庫沒有存圖片，使用預設的圖p0.jpg
        if ($('#p_pic').attr("alt") != "") {
            $('#p_pic').attr("src", "../../photo/product/" + $('#p_pic').attr("alt"));
        }
        else {
            $('#p_pic').attr("src", "../../photo/product/p0.jpg");
        }

        //若其中有選項的價錢不同，使用範圍顯示價錢區間
        if ($('#p_min_price').text() == $('#p_max_price').text()) {
            $('#p_price').text($('#p_min_price').text());
        }
        else {
            $('#p_price').text($('#p_min_price').text() + " - " + $('#p_max_price').text());
        }
    }
        init();
        var details = {};
        var details_length;
        getOptionDetails();
        
        //一種規格情況下，初設庫存判定
        function CheckStock(details,details_length) {
            if ($('#format2 span').length == 0) {
                $('#format1 span').each(function () {
                    for (var i = 0; i < details_length; i++) {
                        if ($(this).text() == details.options[i].name1 && details.options[i].stock == 0) {
                            $(this).addClass('disabled');
                            $(this).css("pointer-events", "none");
                        }
                    }
                });
            }
        }

        //儲存和顯示目前選擇的規格選項
        $('#format1 span').click(function () {
            if ($(this).text() == $('#option1').text()) {
                $(this).removeClass('option_checked');
                $('#option1').text(0);
                setBtnOpen(2);
            }
            else {
                $('#format1 span').removeClass('option_checked');
                $(this).addClass('option_checked');
                $('#option1').text(this.innerText);
                setBtnLock(1, 2);
            }
        });
        $('#format2 span').click(function () {
            if ($(this).text() == $('#option2').text()) {
                $(this).removeClass('option_checked');
                $('#option2').text(0);
                setBtnOpen(1);
            }
            else {
                $('#format2 span').removeClass('option_checked');
                $(this).addClass('option_checked');
                $('#option2').text(this.innerText);
                setBtnLock(2, 1);
            }
        });
       
    //顯示目前選擇品項的圖、價錢、庫存
        $('#format span').click(function () {
            let flag = 0;
            for (var i = 0; i < details_length; i++) {
                //兩種規格且有找到商品
                if (details.options[i].name1 == $('#option1').text() && details.options[i].name2 == $('#option2').text() && $('#format2 span').length > 0) flag = 1;
                //一種規格且有找到商品
                if (details.options[i].name1 == $('#option1').text() && $('#format2 span').length == 0) flag = 1;
                if (flag == 1) {
                    if (details.options[i].pic != "") $('#p_pic').attr("src", "../../photo/product/" + details.options[i].pic);
                    $('#p_price').html("NT$" + (details.options[i].price + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
                    $('#stock').text("剩餘" + details.options[i].stock + "件");
                    bound = details.options[i].stock;
                    //flag = 1;
                    break;
                }
            }
            //沒有找到商品
            if (flag == 0) {
                init();
                $('#stock').text("");
            }
            $('#number').val(1);
        });

        function setBtnLock(standard, target) {
            var name1, name2;
            for (var j = 1; j <= $('#format'+target+' span').length; j++) {
                for (var i = 0; i < details_length; i++) {
                    if (standard == 1) {
                        name1 = details.options[i].name1;
                        name2 = details.options[i].name2;
                    }
                    else {
                        name2 = details.options[i].name1;
                        name1 = details.options[i].name2;
                    }
                        if (name1 == $('#option'+standard+'').text()) {
                            if (name2 == $('#format'+target+' span:nth-child(' + j + ')').text()) {
                                if (details.options[i].stock == 0) {
                                    $('#format'+target+' span:nth-child(' + j + ')').addClass('disabled');
                                    $('#format'+target+' span:nth-child(' + j + ')').css("pointer-events", "none");
                                }
                                else {
                                    $('#format'+target+' span:nth-child(' + j + ')').removeClass('disabled');
                                    $('#format'+target+' span:nth-child(' + j + ')').css("pointer-events", "auto");
                                }
                                break;
                            }
                            else {
                                $('#format'+target+' span:nth-child(' + j + ')').addClass('disabled');
                                $('#format'+target+' span:nth-child(' + j + ')').css("pointer-events", "none");
                            }
                        }
                    }
                }
        }

        function setBtnOpen(target) {
            for (var j = 1; j <= $('#format' + target + ' span').length; j++)
            { 
                $('#format'+target+' span:nth-child(' + j + ')').removeClass('disabled');
                $('#format' + target + ' span:nth-child(' + j + ')').css("pointer-events", "auto");
            }
        }

    //取得商品選項的資料
    function getOptionDetails() {
        $.ajax({
                url: '@Url.Action("FindOption","ViewProduct")',
                type: 'post',
                datatype: 'json',
                data: {
                    p_no: $('#product').text()
                },
                success: function (data) {
                    console.log("成功" + JSON.stringify(data));
                    details_length = data.options.length;
                    details = data;
                    CheckStock(details,details_length);
                },
                error: function (e) {
                    console.log(e);
                }
        });
    }

    //傳出選擇的商品資料
    $('#ToCart').click(function () {
        if ($('#user_id').text() != "") {
            $.ajax({
                url: '@Url.Action("Cart","ViewProduct")',
                type: 'post',
                datatype: 'text',
                data: {
                    p_no: $('#product').text(),
                    option1: $('#option1').text(),
                    option2: $('#option2').text(),
                    number: $('#number').val()
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
        else $('#alert_buy').removeClass('hide');
    });

        //傳出選擇的商品資料(直接購買)
    $('#ToBuy').click(function () {
        if ($('#user_id').text() != "") { 
            $.ajax({
                url: '@Url.Action("Cart","ViewProduct")',
                type: 'post',
                datatype: 'text',
                data: {
                    p_no: $('#product').text(),
                    option1: $('#option1').text(),
                    option2: $('#option2').text(),
                    number: $('#number').val()
                },
                success: function (data) {
                    console.log(data);
                    setTimeout("location.href='http://localhost:49636/Cart/ShowCar?id=@Session["User_ID"]'", 100);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
        else $('#alert_buy').removeClass('hide');
    });

        var bound = 999,num = 0 ;
    //數量選擇器
    $('#number_left').click(function () {
        if($('#number').val()>1) $('#number').val($('#number').val()-1);
    });
    $('#number_right').click(function () {
        if($('#number').val()<bound) $('#number').val(parseInt($('#number').val())+1);
    });

    //暫存輸入前的數量
    $('#number').keydown(function () {
        num = $(this).val();
    });
    $('#number').keyup(function () {
        //欄位空值時設為1
        if ($(this).val() == "") $(this).val(1);
        //確認輸入的是數字，不是的話設為原值
        var rule = /^[0-9]*$/;
        if (!rule.test($(this).val())) $(this).val(num);
        //在數字前輸入0會除去0
        var n = parseInt($(this).val());
        $(this).val(n);
        //輸入的值超過庫存，改為可買的最大數量
        if($(this).val()>bound) $(this).val(bound);
    });
    </script>
}
