﻿@model ProjectTest.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_BuyerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_BuyerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_TrueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_TrueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreCoverPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreCoverPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreIntroduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreIntroduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreProductDisplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreProductDisplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_FbID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_FbID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreStatus.StoreS_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreStatus.StoreS_Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
