﻿@model ProjectTest.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_BuyerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_BuyerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_TrueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_TrueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreCoverPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreCoverPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreIntroduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreIntroduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_StoreProductDisplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_StoreProductDisplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_FbID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_FbID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreStatus.StoreS_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreStatus.StoreS_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
