﻿@model ProjectTest.Models.User
@using System.Data



@{
    ViewBag.Title = "Edit";
}

<style>

    .Upic {
        padding-left: 5%;
        padding-top: 10%;
        height: 400px;
        width: 250px;
    }

    .pic_size {
        height: 110px;
        width: 110px;
        /*float:left;*/
    }

    .user_pic_size {
        height: inherit;
        width: inherit;
    }
    /*隱藏原始input檔案上傳設計*/
    input[type="file"] {
        display: none;
    }



    .profile {
        /*float:left;*/
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
           
            <div class="btn-group-horizontal" role="group">

                <ul class="nav nav-tabs nav-justified ">
                    <li role="presentation" class="active"><a href="#">我的檔案</a></li>
                    <li role="presentation"><a href="#">銀行號碼</a></li>
                    <li role="presentation"><a href="#">購買清單</a></li>
                </ul>
            </div>
            <div class=" form-group  ">

                <div class="bg-warning">
                    <h4>管理你的檔案以保護你的帳戶</h4>

                </div>
                <hr />
                <div class="container">
                    <div class="form-horizontal justify-content-center row ">

                        <div class="profile  col-md-6 ">
                            <div class=" container justify-content-center">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.User_ID)

                                <div class="form-group ">
                                    @Html.LabelFor(model => model.User_Account, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 ">
                                        @*<input type="text" class="form-control readnoly" id="User_Account" value="model => model.User_Account" />*@
                                        @Html.EditorFor(model => model.User_Account, new { htmlAttributes = new { @class = "form-control disabled", @readonly = "" } })
                                        @Html.ValidationMessageFor(model => model.User_Account, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
                                        <input type="button" id="ChangePwd" name="ChangePwd" value="變更密碼" class="text-info btn-sm  btn-link" />

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_BuyerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_BuyerName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User_BuyerName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.User_StoreName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_StoreName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User_StoreName, "", new { @class = "text-danger" })
                                    </div>
                                     </div>*@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_TrueName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_TrueName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User_TrueName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                                        @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User_Phone, "", new { @class = "text-danger" })
                                        @*<div class="text-danger">@Html.Raw(ViewBag.checkPhone)</div>*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.RadioButtonFor(model => model.User_Gender, true)<span>男</span>
                                            @Html.RadioButtonFor(model => model.User_Gender, false)<span>女</span>
                                            @Html.ValidationMessageFor(model => model.User_Gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Birth, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_Birth, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User_Birth, "", new { @class = "text-danger" })
                                        <div class="text-danger">@Html.Raw(ViewBag.checkbirth)</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.User_Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.User_Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        @Html.LabelFor(model => model.User_StoreCoverPic, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_StoreCoverPic, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.User_StoreCoverPic, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User_StoreIntroduction, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_StoreIntroduction, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.User_StoreIntroduction, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User_StoreProductDisplay, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_StoreProductDisplay, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.User_StoreProductDisplay, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User_FbID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_FbID, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.User_FbID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.User_Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_Status, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.User_Status, "", new { @class = "text-danger" })
                                        </div>
                                         </div>

                                         <div class="form-group">
                                        @Html.LabelFor(model => model.User_StoreStatusNo, "User_StoreStatusNo", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("User_StoreStatusNo", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.User_StoreStatusNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                       @Html.LabelFor(model => model.User_Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                                       <div class="col-md-10">
                                           @Html.EditorFor(model => model.User_Photo, new { htmlAttributes = new { @class = "form-control" ,@type="file"} })
                                           @Html.ValidationMessageFor(model => model.User_Photo, "", new { @class = "text-danger" })
                                       </div>
                                    </div>

                                <div class="Upic row  col-md-6">
                                    <div class="pic_size ">
                                        <img id="user_pic" alt="@Model.User_Photo.ToString()" class="user_pic_size" />
                                        <label for="pic" class="btn btn-default">
                                            <span class="glyphicon glyphicon-picture"></span>
                                            上傳大頭照
                                        </label>
                                        <input type="file" id="pic" name="pic" accept="image/*" />
                                    @*    <input type="button" id="save" value="儲存" class="btn btn-default" />*@
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>





                </div>
                <div class=" col-md-6 ">

                    <input id="Submit1" type="submit" value="submit" />
                </div>


            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>


     //檢查是否已有大頭照，沒有則使用預設圖片
    if ($('#user_pic').attr('alt') != "") {
        $('#user_pic').attr("src","../../photo/user_pic/"+$('#user_pic').attr('alt'));
    }
    else{
        $('#user_pic').attr("src", "../../photo/user_pic/userpic_default.jpg");

    }

     //上傳新大頭照的預覽
    $('#pic').change(function (evt) {
        var files = evt.target.files;
        var file = files[0];

        if (file != null) {

            console.log(file.name);
            console.log(file);

            var data = new FormData();
            data.append("pic", file);

            $.ajax({
                url: '@Url.Action("EditPic","Users")',
                type: 'Post',
                dataType: "text",
                data: data,
                processData: false,
                contentType : false,
                success: function (pic) {
                    $('#user_pic').attr("src", "../../photo/user_pic/" + pic);
                    $('#user_pic').attr("alt", pic);
                    $('#pic').val(pic);
                   console.log("成功"+pic+"/"+$('#user_pic').attr("alt"));
               },
               error: function (e) {
                   console.log("fail");
               }
            });

        }
        else console.log("沒有選取檔案");
    });

     //儲存修改
     $('#save').click(function () {

            $.ajax({
                url: '@Url.Action("EditSave","Users")',
                type: 'Post',
                dataType: 'json',
                data: {
                    user_pic: $('#user_pic').attr("alt")

                },
                success: function (data) {
                    console.log("成功" +"/" + data.user_pic);
                },
                error: function (e) {
                    console.log("失敗");
                }
            });
     });

</script>
