﻿@model IEnumerable<ProjectTest.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_BuyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_TrueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_StoreCoverPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_StoreIntroduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_StoreProductDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_FbID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreStatus.StoreS_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_BuyerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_TrueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_StoreCoverPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_StoreIntroduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_StoreProductDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_FbID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreStatus.StoreS_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.User_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_ID })
        </td>
    </tr>
}

</table>
