﻿@model IEnumerable<ProjectTest.Models.ProductOrderDetails>

<style>
    #table td {
        line-height:90px;
    }
    #table {
        table-layout: fixed;
        width: 100%;
        background-color: rgba(144, 190, 155, 0.1);
        box-shadow: 3px 3px 5px #d0c7c7;
    }
</style>

<table class="table" id="table">
    <tr>
        <th style="width: 15%;">
            @Html.DisplayNameFor(model => model.ProductOption.POption_GoodsNo)
        </th>
        <th style="width: 15%;">
            @Html.DisplayNameFor(model => model.ProductOption.POption_Pic)
        </th>
        <th>
            規格
        </th>
        <th style="width: 10%;">
            @Html.DisplayNameFor(model => model.PODetails_Number)
        </th>
        <th style="width: 10%;">
            @Html.DisplayNameFor(model => model.PODetails_SubTotal)
        </th>

        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr style="line-height:50px;">
        <td>
            @Html.DisplayFor(modelItem => item.ProductOption.POption_GoodsNo)
        </td>
        <td>
            <div>
                <img src="~/photo/product/@Html.DisplayFor(modelItem => item.ProductOption.POption_Pic)" style="width:100px;height:100px;" />
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductOption.POption_Name1)&nbsp;
            @Html.DisplayFor(modelItem => item.ProductOption.POption_Name2)
        </td>
        <td>
            <span>x</span>@Html.DisplayFor(modelItem => item.PODetails_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PODetails_SubTotal)
        </td>
        
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
