﻿@model IEnumerable<ProjectTest.Models.ProductOrder>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="row">
    <p style="margin:10px 20px;">共<span>@ViewBag.count[ViewBag.status]</span>筆訂單</p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PO_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PO_CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PO_Total)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PO_CancelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_RecipientAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_RecipientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_RecipientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayType.PayT_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.User_Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderStatus.POS_Status)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ShipType.ShipT_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipStatus.ShipS_Status)
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PO_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO_CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO_Total)
                (@Html.DisplayFor(modelItem => item.PayType.PayT_Type))
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PO_CancelDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_RecipientAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_RecipientEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO_RecipientPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayType.PayT_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.User_Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductOrderStatus.POS_Status)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ShipType.ShipT_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipStatus.ShipS_Status)
            </td>
            <td>
                @if (item.ShipStatus.ShipS_Status == "待出貨")
                {
                    @Html.ActionLink("出貨", "Edit", new { no = item.PO_No, ship_type = item.ShipType.ShipT_Type })
                }
                &nbsp;<span class="glyphicon glyphicon-chevron-down btn btn-info" style="font-size:0.5em ;padding:1px 3px;" onclick="slide_details(this)"></span>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div style="display:none;">
                    @Html.Action("_PartialDetails", new { po_no = item.PO_No })
                </div>
            </td>

        </tr>
    }

</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    function slide_details(target) {
        $(target).parent().parent().next().children(1).children(1).slideToggle(500);
    }
</script>