﻿
@{
    Layout = "~/Views/Shared/_Layout_StoreCenter.cshtml";
    ViewBag.Title = "訂單管理";
    //var data = ViewBag.a;
}
    <div div class="container" style="margin-top:50px;">
        <h2>訂單管理</h2>

        @*@foreach(var item in data){
            <p>@item.GetType().GetProperty("product").GetValue(item)</p>
        }*@ 

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">全部</a></li>
            <li><a data-toggle="tab" href="#menu1">待出貨</a></li>
            <li><a data-toggle="tab" href="#menu2">運送中</a></li>
            <li><a data-toggle="tab" href="#menu3">已完成</a></li>
        </ul>

        <div class="tab-content">

            <div id="home" class="tab-pane fade in active">
                @Html.Action("_PartialOrder", new { status_no = "0" })
            </div>
            <div id="menu1" class="tab-pane fade">
                @Html.Action("_PartialOrder", new { status_no = "1" })
            </div>
            <div id="menu2" class="tab-pane fade">
                @Html.Action("_PartialOrder", new { status_no = "3" })
            </div>
            <div id="menu3" class="tab-pane fade">
                @Html.Action("_PartialOrder", new { status_no = "4" })
            </div>
        </div>
    </div>


