﻿@model Web.Models.User

@{
    ViewBag.Title = "帳號管理";
}
<video autoplay loop id="bk1">
    <source src="~/Photos/backtest.webm" type="video/webm" />
</video>
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bk1 {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
</style>
<div style="margin-top:70px">
    <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>帳號管理狀態更改</h2>
        </div>
    </div>
    

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.User_ID)

    <div class="form-group">
        <label class="control-label col-md-4">帳號狀態</label>
        <div class="col-md-8">
            <select onchange=mbar(this) id="User_Status" name="User_Status" class="form-control">
                @if (Model.User_Status == "1")
                {
                    <OPTION selected value="1">封鎖</OPTION>

                    <option value="0">正常</option>

                }
                else if (Model.User_Status == "0")
                {
                    <OPTION selected value="0">正常</OPTION>
                    <option value="1">封鎖</option>

                }
                else if (Model.User_Status == "x")
                {
                    <OPTION selected value="x">未開通</OPTION>
                    <option value="1">封鎖</option>
                    <option value="0">正常</option>

                }

            </select>
        </div>
    </div>


    <div class="form-group">
        <div class=" col-md-4"></div>
        <div class=" col-md-8">
            <input type="submit" value="儲存" class="btn btn-success" style="width:500px;height:40px;" />
        </div>
    </div>
</div>
    }

</div>

