﻿
@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>

<form action="@Url.Action("Find")" method="post">
    <div class="form-horizontal">
        <hr />        

        <div class="form-group">
            @*<span class="control-label col-md-5">管理員帳號</span>*@
            <div class="text-center">
                <input id="Admin_Account" name="Admin_Account" type="text"
                       required="required" class="from-control" style="color:black;width:200px" />
            </div>
        </div>
       

        <div class="form-group">
            <div class="text-center">
                <input id="Submit1" type="submit" value="送出" class="btn btn-warning" style="width:200px" />              
        </div>
            <div class="text-center" style="color:red">
                @ViewBag.mess
                @ViewBag.ad
            </div>
    </div>
</form>

