﻿@Model.
@{
    ViewBag.Title = "Homepage";
}
<video autoplay loop id="bk1">
    <source src="~/Photos/backtest.webm" type="video/webm" />
</video>
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bk1 {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
</style>




<div style="margin-top:70px">
    <div class="form-horizontal; text-center ">
        <img src="~/Photos/Logo.jpg" class="img-rounded" style="width:600px;opacity:0.7;" />
        <h1>
            歡迎使用U購站後台管理系統
        </h1>
    </div>
</div>
