﻿
@using PagedList
@using PagedList.Mvc
@model  IPagedList<Web.Models.User>
@{
    ViewBag.Title = "會員帳號管理";
}
<video autoplay loop id="bk1">
    <source src="~/Photos/backtest.webm" type="video/webm" />
</video>
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bk1 {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
</style>


<div style="margin-top:70px">
    <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>會員帳號管理</h2>
        </div>
    </div>
    
    <div style="margin-bottom:20px;margin-top:20px">
        <div class="input-group">
            <span class="input-group-addon" style="background-color:chartreuse;color:azure">
                <span class="glyphicon glyphicon-zoom-in"></span>
            </span>
            <input type="search" class="light-table-filter" data-table="table" placeholder="請輸入查詢條件" style="height:30px">
        </div>
    </div>

    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_Account)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_BuyerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_StoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_TrueName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User_Status)
                </th>
                <th>
                    功能
                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_BuyerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_TrueName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_Phone)
                    </td>
                    <td>
                        @if (item.User_Status == "1")
                        {<span>封鎖</span>}
                        else if (item.User_Status == "0")
                        {<span>正常</span>}
                        else if (item.User_Status == "x")
                        {<span>未開通</span>}
                        @*@Html.DisplayFor(modelItem => item.User_Status)*@
                    </td>
                    <td>
                        @Html.ActionLink("帳號權限修改", "Edit", new { id = item.User_ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }


        </table>
    </div>



    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<script>
    (function (document) {
        'use strict';

        // 建立 LightTableFilter
        var LightTableFilter = (function (Arr) {

            var _input;

            // 資料輸入事件處理函數
            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            // 資料篩選函數，顯示包含關鍵字的列，其餘隱藏
            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                // 初始化函數
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        // 網頁載入完成後，啟動 LightTableFilter
        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);
</script>
