﻿@model IEnumerable<Web.Models.Administrator>

@{
    ViewBag.Title = "IndexFind";
}

<h2>IndexFind</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Admin_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Admin_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Admin_ID })
        </td>
    </tr>
}

</table>
