﻿@{
    ViewBag.Title = "管理員登入";
}
    <style>
        html {
            height: 100%;
        }

        body {
            background-image: url(background.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>    
    <body style="background-image: url('../../Photos/9ad91e9fb1284dc6bd2de12b4e214259_th.gif'); color:aliceblue">
        <h2 class="text-center">
            U購站後台管理系統
        </h2>

        <form action="@Url.Action("Login")" method="post">
            <div class="form-horizontal">
                <hr />
                <h3 class="text-center"><strong>Please Sign in</strong></h3>

                <div class="form-group">
                    @*<span class="control-label col-md-5">管理員帳號</span>*@
                    <div class="text-center">
                        <input id="Admin_Account" name="Admin_Account" type="text"
                               required="required" class="from-control" style="color:black;width:200px" />

                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input id="Admin_Password" name="Admin_Password" type="password"
                               required="required" class="from-control" style="color:black;width:200px" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input id="Submit1" type="submit" value="登入" class="btn btn-warning" style="width:200px" />

                        @*<input id="Reset1" type="reset" value="重填" class="btn btn-default" />*@
                    </div>
                </div>
                <div class="text-center" style="color:red">
                    @ViewBag.Message
                </div>
            </div>
        </form>
    </body>
