﻿
@using PagedList
@using PagedList.Mvc
@model  IPagedList<Web.Models.ProductClass>

@{
    ViewBag.Title = "PrdClass";
}
<video autoplay loop id="bk1">
    <source src="~/Photos/backtest.webm" type="video/webm" />
</video>
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bk1 {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
</style>
<div style="margin-top:70px">
    <h2>產品類別管理</h2>
    <p>
        @Html.ActionLink("新增產品類別", "PrdCreat", new { id = "PrdCreat" }, new { @class = "btn btn-success" })
    </p>
    <div style="margin-bottom:20px;margin-top:20px">
        <div class="input-group">
            <span class="input-group-addon" style="background-color:chartreuse;color:azure">
                <span class="glyphicon glyphicon-zoom-in"></span>
            </span>
            <input type="search" class="light-table-filter" data-table="table" placeholder="請輸入查詢條件" style="height:30px">
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(moble => moble.FirstOrDefault().PClass_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PClass_Name)
            </th>
            <th>
                功能
            </th>

        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PClass_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PClass_Name)
                </td>
                <td>
                    @Html.ActionLink("Delete", "PrdDelete", new { id = item.PClass_No }, new { onclick = "return confirm('您真的要刪除嗎??')", @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<script>
    (function (document) {
        'use strict';

        // 建立 LightTableFilter
        var LightTableFilter = (function (Arr) {

            var _input;

            // 資料輸入事件處理函數
            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            // 資料篩選函數，顯示包含關鍵字的列，其餘隱藏
            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                // 初始化函數
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        // 網頁載入完成後，啟動 LightTableFilter
        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);
</script>

