﻿@model Web.Models.ProductClass
@{
    ViewBag.Title = "PrdCreat";
}
<video autoplay loop id="bk1">
    <source src="~/Photos/backtest.webm" type="video/webm" />
</video>
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bk1 {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
</style>
<div style="margin-top:70px">

    <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>新增產品類別</h2>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
          
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PClass_No, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PClass_No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PClass_No, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
              
                @Html.LabelFor(model => model.PClass_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PClass_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @ViewBag.Message
                    @Html.ValidationMessageFor(model => model.PClass_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <input type="submit" value="儲存" class="btn btn-success" style="width:500px;height:40px;" />
                </div>
            </div>
            
        </div>
    }

</div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

