﻿@model ProjectTest.Models.CreateProduct
@{
    ViewBag.Title = "Create";
}

<h2>新增商品</h2>

<style>
    .form {
        background-color: rgba(241, 222, 190, 0.30);
        padding: 5px 20px;
        border-radius: 25px;
        width: 95%;
        margin: 30px auto;
        box-shadow: 5px 5px 5px #d0c7c7;
    }

    .hr_style {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }

    h3 {
        text-align: center;
    }
    textarea {
        max-width: 100% !important;
        width: 600px !important;
        resize:none;
    }

    input {
        max-width: 100%;
    }

    #table tbody input, thead input {
        max-width: 60%;
        border: none;
        text-align: center;
        padding:5px;
    }

    #table td label span:first-child {
        line-height: 80%;
    }

    /*隱藏input:number的spinner*/
    tbody input::-webkit-outer-spin-button,
    tbody input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    tbody input[type=number] {
        -moz-appearance: textfield;
    }
    #table {
        table-layout: fixed;
        width: 100%;
    }

    .mt_10 {
        margin-top: 10px
    }

    p {
        font-size: 2rem;
    }

    th, td {
        text-align: center;
    }
    /*隱藏原始input檔案上傳設計*/
    input[type="file"] {
        display: none;
    }

    #cover_label {
        width:200px;
        height:200px;
    }
        #cover_label span:first-child {
            line-height:190px;
            font-size:2rem;
        }

    #cover_demo {
        width: 200px;
        height: 200px;
    }
        #cover_demo + span:hover,#table tbody tr td:last-child span:last-child{
            cursor:pointer;
        }

    #payANDship > div {
        height:190px;
        background-color: rgba(199, 202, 237, 0.30);
        border:1px dotted gray;
        margin-bottom:10px;
    }
        #payANDship > div > h4 {
            border-bottom:1px dashed gray;
            padding-bottom:5px;
        }
</style>

<form id="form" class="form-horizontal" method="post" @Url.Action("Create") enctype="multipart/form-data">

    <div class="form">
        <h3><strong>基本資訊</strong></h3>
        <hr class="hr_style" />

        <div class="form-group">
            <label class="control-label col-md-3"><span class="text-danger">*</span>商品名稱</label>
            <div class="col-md-7">
                <input class="form-control" type="text" maxlength="50" id="p_name" name="p_name"/>
            </div>
            <div class="mt_10" id="p_name_lenght">0/50</div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">商品介紹</label>
            <div class="col-md-7">
                <textarea rows="10" maxlength="3000" id="p_intro" name="p_intro"></textarea>
            </div>
            <div class="mt_10" id="p_intro_lenght">0/3000</div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3"><span class="text-danger">*</span>商品分類</label>
            <div class="col-md-7">
                <select class="form-control" id="class" name="p_class">
                    <option value="0" selected disabled hidden>請選擇分類</option>
                    @foreach (var item in Model.classes)
                    {
                        <option id="class+@item.PClass_No" value="@item.PClass_No">@item.PClass_Name</option>
                    }
                </select>
            </div>
        </div>

    </div>

    <div class="form">
        <h3><strong>銷售資訊</strong></h3>
        <hr class="hr_style" />

        <div class="row">
            <div class="col-md-2  col-md-offset-1">
                <h4><strong>商品封面圖</strong></h4>
            </div>
            <div class="col-md-3">
                <label id="cover_label" for="cover" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </label>
                <input type="file" id="cover" name="cover" accept="image/*" />
                <div>
                    <img id="cover_demo" class="hide" />
                    <span class="glyphicon glyphicon-remove-circle hide" style="float: right; font-size: 2rem "></span>
                </div>
            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-md-2  col-md-offset-1">
                <h4><strong>規格表</strong></h4>
            </div>
            <div class="col-md-1  col-md-offset-6">
                <span id="add_option" class="btn btn-success">+ 新增商品選項</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="hide text-danger" id="format_alert"></span>
            </div>
        </div>
        <div class="row mt_10">
            <div class="col-md-10 col-md-offset-1">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>
                                <input type="text" placeholder="規格一" name="format1" id="format1" onchange="check(this,1)"/>
                            </th>
                            <th>
                                <input type="text" placeholder="規格二" name="format2" id="format2" onchange="check(this,2)"/>
                            </th>
                            <th>單價</th>
                            <th>數量</th>
                            <th>商品貨號</th>
                            <th>商品圖</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" placeholder="選項" name="option1" readonly/></td>
                            <td><input type="text" placeholder="選項" name="option2" readonly/></td>
                            <td>$ <input type="number" name="price" required/></td>
                            <td><input type="number" placeholder="0" name="stock" required/></td>
                            <td><input type="text" name="goods"/></td>
                            <td>
                                <label for="p_pic1" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </label>
                                <input type="file" id="p_pic1" name="p_pic" accept="image/*" onchange="view_pic(this)" />

                                <span class="glyphicon glyphicon-remove pull-right mt_10" onclick="remove_option(this)"></span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="form">
        <h3><strong>金流物流</strong></h3>
        <hr class="hr_style" />
        <div class="row">
            <div class="col-md-8 col-md-offset-2 bg-info">
                <h4>*請選擇至少一個金流及物流選項，如未選擇則無法儲存商品</h4>
            </div>
        </div>
        <div class="row mt_10" id="payANDship">
            <div class="col-md-4 col-md-offset-2" id="pay">
                <h4><span class="text-danger">*</span><strong>金流選項</strong></h4>
                @foreach (var pay in Model.payTypes)
                {
                    <input type="checkbox" id="pay+@pay.PayT_No" name="pay" value="@pay.PayT_No">
                    <label for="pay+@pay.PayT_No">@pay.PayT_Type</label><br>
                }
            </div>
            <div class="col-md-4" id="ship">
                <h4><span class="text-danger">*</span><strong>物流選項</strong></h4>
                @foreach (var ship in Model.shipTypes)
                {
                    <input type="checkbox" id="ship+@ship.ShipT_No" name="ship" value="@ship.ShipT_No">
                    <label for="ship+@ship.ShipT_No">@ship.ShipT_Type</label>
                    <span>@string.Format("{0:c0}", ship.ShipT_Fare)</span>
                    <br>
                }
            </div>
        </div>
    </div>
    <input id="status" name="status" type="hidden" />

    <div class="row">
        <div class="col-md-12">
            <span class="pull-right hide text-danger" id="table_alert">*資料填寫不完整，請重新填寫!!</span>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            @Html.ActionLink("取消", "Index", "StoreProduct", htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            <input type="submit" id="save_down" class="btn btn-primary" value="儲存並下架">
            <input type="submit" id="save_on" class="btn btn-danger" value="儲存並上架">
        </div>
    </div>

</form>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    //檢查規格名稱有無填寫，修改選項填寫狀態
    function check(target,n) {
        if ($(target).val() != "") {
            $('#table tbody tr td:nth-child(' + n + ') input').prop('readonly', false);
            $('#table tbody tr td:nth-child(' + n + ') input').prop('required', true);
        }
        else {
            $('#table tbody tr td:nth-child(' + n + ') input').prop('readonly', true);
            $('#table tbody tr td:nth-child(' + n + ') input').prop('required', false);
            $('#table tbody tr td:nth-child(' + n + ') input').val("");
        }
        if ($('#format1').val() == "" && $('#format2').val() == "") {
            $('#table tbody tr:first-child').nextAll().remove();
        }
    }

    $('input:submit').click(function () {
        $('#table_alert').addClass('hide');
        var values = {},flag=0;
        $.each($('#form').serializeArray(), function (i, field) {
            values[field.name] = field.value;
        });
        if (values.p_name == "") flag = 1;
        if (values.p_class == null) flag = 1;
        if (values.pay == null) flag = 1;
        if (values.ship == null) flag = 1;
        console.log(values);
        console.log(flag);
        if (flag == 1) {
            $('#table_alert').removeClass('hide');
            return false;
        } 
    });

    $('#p_name').keyup(function () {
        var l = $('#p_name').val().length;
        $('#p_name_lenght').text(l + "/50");
    });

    $('#p_intro').keyup(function () {
        var l = $(this).val().length;
        $('#p_intro_lenght').text(l + "/3000");
    });
    
    //叉叉移除選項
    function remove_option(target) {
        $(target).parent().parent().remove();
    }

    //選項html
    function option_tr(n) {
        let option = '<tr>'+
                        '<td><input type="text" placeholder="選項" name="option1" readonly/></td>'+
                        '<td><input type="text" placeholder="選項" name="option2" readonly/></td>'+
                        '<td>$ <input type="number" name="price" required/></td>'+
                        '<td><input type="number" placeholder="0" name="stock" required/></td>'+
                        '<td><input type="text" name="goods"/></td>'+
                        '<td>'+
                            '<label for="p_pic'+n+'" class="btn btn-default">'+
                                '<span class="glyphicon glyphicon-plus-sign"></span>'+
                            '</label>'+
                            '<input type="file" id="p_pic'+n+'" name="p_pic" accept="image/*" onchange="view_pic(this)"/>'+
                            '<span class="glyphicon glyphicon-remove pull-right mt_10" onclick="remove_option(this)"></span>'+
                        '</td>'+
                    '</tr>';
        return option;
    }

    //增加商品選項，預設選項圖片id="p_pic"+option_num
    var option_num = 1; 
    $('#add_option').click(function () {
        if ($('#format1').val() != "" || $('#format2').val() != "" || $('tbody tr').length == 0) {
            $('#format_alert').addClass('hide');
            option_num++;
            $('#table tbody').append(option_tr(option_num));
            check($('#format1'), 1);
            check($('#format2'), 2);
        }
        else {
            $('#format_alert').text("*請先填寫規格再新增商品!!");
            $('#format_alert').removeClass('hide');
        }
    });

    function view_pic(target) {
        var file = $(target)[0].files[0];
        $(target).prev().children().removeClass();
        $(target).prev().children().text(file.name);
    }

    //商品封面圖預覽
    $('#cover').change(function () {
        
        var file = $('#cover')[0].files[0];
        if (file != null) {
            $('#cover_label').hide();
            var reader = new FileReader;
            reader.onload = function(e) {
                $('#cover_demo').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
            $('#cover_demo').removeClass('hide');
            $('#cover_demo').next().removeClass('hide');
        }
    });

    //關閉預覽圖片、開啟input:file
    $('#cover_demo').next().click(function () {
        $('#cover_demo').addClass('hide');
        $('#cover_demo').attr('src', '');
        $(this).addClass('hide');
        $('#cover_label').show();
    });
    
    $(document).ready(function() {
        $('#form').submit(function() { 
            var val = $("input[type=submit][clicked=true]").val();
            console.log(val);
            if (val == "儲存並下架") $('#status').val(2);
            if (val == "儲存並上架") $('#status').val(1);
            console.log( $('#status').val());
            return true;
        });
        $("#form input[type=submit]").click(function() {
            $("input[type=submit]", $(this).parents('#form')).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
    });

</script>

