﻿@*@model IEnumerable<ProjectTest.Models.ProductOption>*@
@model ProjectTest.Models.StoreProductDetails

@{
    Layout = "~/Views/Shared/_Layout_StoreCenter.cshtml";
    ViewBag.Title = "Details";
}
<style>
    .img_size {
        width: 100px;
        height: 100px;
    }

    .table_bar {
        padding: 10px;
        font-size: 2rem;
    }

    .table_borderbottom {
        border-bottom: 1px solid #bfb8b8;
    }

    .table_scrollbar {
        max-height: 300px;
        overflow-y: auto;
    }

    .table_m_0 {
        margin: 0px;
    }

    th, td {
        width: 15%;
        text-align: center;
    }

        th:last-child {
            width: 1%;
        }

    .table_m {
        margin: auto;
    }

    .panel_p_0 {
        padding: 0px;
    }
    #intro:hover,#table:hover{
        cursor:pointer;
    }
    #option td {
        line-height:100px;
    }
    
</style>
<h2 style="margin-top:70px;">@Model.product.P_Name</h2>
<img id="p_pic" alt="@Model.product.P_Pic" class="img-thumbnail"/>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="panel-group">
    <div class="panel panel-info">
        <div id="intro" class="panel-heading table_bar">
            <span class="caret"></span>
            商品介紹
        </div>
        <div id="content" class="panel-body">@Html.Raw(Model.product.P_Details)</div>
    </div>
    
    <div class="panel panel-info">
        <div id="table" class="panel-heading table_bar">
            <span class="caret"></span>
            商品列表
        </div>
        <div id="options" class="panel-body panel_p_0">
            <div class="table_borderbottom table_m_0">
                <table class="table table-hover table_m">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.option.First().POption_GoodsNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.option.First().POption_Pic)
                        </th>
                        <th>
                            <p>@Model.product.ProductFormat.PFormat_Name</p>
                            @*@Html.DisplayNameFor(model => model.option.First().POption_Name1)*@
                        </th>
                        <th>
                            <p>@Model.product.ProductFormat1.PFormat_Name</p>
                            @*@Html.DisplayNameFor(model => model.option.First().POption_Name2)*@
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.option.First().POption_Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.option.First().POption_stock)
                        </th>
                        <th></th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Product.P_Name)
                            </th>*@
                    </tr>
                </table>
            </div>

            <div class="table_scrollbar table_m_0">
                <table id="option" class="table table-hover">
                    @foreach (var item in Model.option)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.POption_GoodsNo)
                            </td>
                            <td>
                                @if (item.POption_Pic != "")
                                {
                                    <img src="~/photo/product/@item.POption_Pic" class="img-thumbnail img_size" />
                                }
                                else
                                {
                                    <img src="~/photo/product/p0.jpg" class="img-thumbnail img_size" />
                                }
                                @*@Html.DisplayFor(modelItem => item.POption_Pic)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.POption_Name1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.POption_Name2)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.POption_Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.POption_stock)
                                @*<span>(已售出</span>@ViewBag.sold_num[item.POption_No])*@
                            </td>
                            @*
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.P_Name)
                                </td>
                                <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.POption_No }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.POption_No }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.POption_No })
                                </td>*@
                        </tr>
                    }

                </table>
            </div>

        </div>
    </div>
</div>


@section store_option{
    <script>
        $('#p_pic').css({ "width": "200px", "height": "200px" });
        if ($('#p_pic').attr("alt") != "") {
            $('#p_pic').attr("src","../../photo/product/"+$('#p_pic').attr("alt"));
        }
        else {
            $('#p_pic').attr("src","../../photo/product/p0.jpg");
        }

        $('#table').click(function () {
            $('#options').slideToggle(500);
        });
        $('#intro').click(function () {
            $('#content').slideToggle(500);
        });
    </script>
}



