﻿@model IEnumerable<ProjectTest.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout_StoreCenter.cshtml";
    ViewBag.Title = "商品管理";
    var order = ViewBag.order;
}
<style>
    .img_size {
        width: 150px;
        height: 150px;
    }

    .mb_10 {
        margin-bottom: 10px;
    }

    .text_vertical_center {
        line-height: 200%;
    }
</style>

<div div class="container" style="margin-top:50px;">
    <h2>商品列表</h2>

    @*<div>
        @foreach (var i in order)
        {
            now = i.GetType().GetProperty("seller").GetValue(i);
            L--;
            if (pre != now && pre != "")
            {<p>------運費-------</p> }
            <span>@i.GetType().GetProperty("seller").GetValue(i)</span>
            <span>【@i.GetType().GetProperty("optionpic").GetValue(i)</span>
            <span>@i.GetType().GetProperty("pname").GetValue(i)</span>
            <span>@i.GetType().GetProperty("cartoption").GetValue(i)】</span>
            <br />
            pre = now;
            now = "";
            if (L == 0)
            { <p>------運費-------</p>}
        }
        
    </div>*@

    <div class="pull-right mb_10">
        <a href="@Url.Action("Create","StoreProduct")" class="btn btn-primary text_center ">
            <p class="glyphicon glyphicon-plus-sign"></p>
            新增商品
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.P_Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.P_Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P_Pic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.User_Account)
                </th>*@

            <th>
                @Html.DisplayNameFor(model => model.ProductClass.PClass_Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ProductFormat.PFormat_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductFormat1.PFormat_Name)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus.PS_Status)
            </th>
            <th>
                操作
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.P_Name)
                    <div>
                        @if (item.P_Pic != "")
                        {
                            <img src="~/photo/product/@item.P_Pic" class="img-thumbnail img_size" />
                        }
                        else
                        {
                            <img src="~/photo/product/p0.jpg" class="img-thumbnail img_size" />
                        }
                    </div>
                </td>
                @*<td>
                            @Html.DisplayFor(modelItem => item.P_Details)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.P_Pic)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.User.User_Account)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.ProductClass.PClass_Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProductFormat.PFormat_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductFormat1.PFormat_Name)
                    </td>*@
                <td>
                    @if (item.P_ProductStatusNo == "3")
                    {
                        @Html.DisplayFor(modelItem => item.ProductStatus.PS_Status)
                    }
                    else
                    {
                        <p class="hide">@Html.DisplayFor(modelItem => item.P_No)</p>
                        <select id="p_status" name="p_status" onchange="status_change(this)">
                            <option value="@ViewBag.status" selected disabled hidden>@Html.DisplayFor(modelItem => item.ProductStatus.PS_Status)</option>
                            <option value="1">上架</option>
                            <option value="2">下架</option>
                        </select>
                    }
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.P_No }) |*@
                    @Html.ActionLink("查看詳細資料", "Details", new { no = item.P_No })
                </td>
            </tr>
        }

    </table>
</div>

@section store_ProductIndex{
    <script>
        function status_change(target) {

            $.ajax({
                    url: '@Url.Action("EditStatus")',
                    type: 'Post',
                    dataType: 'text',
                    data: {
                        p_status: $(target).val(),
                        p_no: $(target).prev().text()
                    },
                    success: function (data) {
                        console.log("成功" + data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
        }
    </script>
}
