﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -網站管理系統 </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("管理系統", "Homepage", "Home",
               new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("會員帳號管理", "Index", "Home")</li>
                    <li>@Html.ActionLink("管理者清單", "ManagerList", "Home")</li>
                    <li>@Html.ActionLink("類別清單", "PrdClass", "Home")</li>                                  
                    <li>@Html.ActionLink("廣告管理", "Index", "test")</li>
                    <li>@Html.ActionLink("登出", "Logout", "Home")</li>
                </ul>


                <div>
                    <a href="#" style="position: absolute; color:black; right:10px;top:15px">歡迎登入，@Session["Name"]，請為了公司好好貢獻你的肝。</a>
                    @*<p style="position: absolute; color:black; right:10px;top:15px">歡迎登入，管理員，請為了公司好好貢獻你的肝。</p>*@
                </div>
















            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - U購站</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>