﻿.jumbotron1 { /*nav顏色或樣式*/
    /*background-image: url('../../photo/navPhoto/1111111111333.jpg');*/
    /*background-image: url('../photo/navPhoto/777777.JPG');*/
    background-image: url('../photo/navPhoto/10620.jpg');
    /*background-image: url('../photo/navPhoto/24639.jpg');*/
    background-repeat: round;
    margin-bottom: 100px;
}
.NMSLBA {
    background-image: url('../photo/navPhoto/7537537353.jpg');
    /*background-image: url('../photo/navPhoto/1910.jpg');*/
    /*background-image: url('../photo/navPhoto/8020.jpg');*/
    /*background-repeat:round;*/
    background-size: cover;
    margin-top: 80px;
}
.AAAF {/**標題*/
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color:#000000;
}
.FONN {/**商品攔*/
    border-top:1px solid;
    padding-bottom:1rem;
    padding-top:1rem;
    padding-left:10px;
    background-color:#fff47e;
}

.AAAFf { /**標題圖片1*/
    float: left;
    height: 60px;
    padding: 10px 10px;
    line-height: 25px;
}

.ASDFF {
    background-image: url('../photo/navPhoto/10620.jpg');
    background-size: cover;
}

.ffffaa {
    /*background-image: url('../photo/navPhoto/106277.jpg');*/
    background-image: url('../photo/navPhoto/87787878.jpg');
    background-size: cover;
}

.f1111 {
    background-image: url('../photo/navPhoto/1062044444.jpg');
    background-size: cover;
}


.ggssd {
    background-image: url('../photo/navPhoto/7537537353.jpg');
    background-size: cover;
}
