﻿@using System.Data

@model System.Data.DataTable

@{
    ViewBag.Title = "EditPic";
    DataRow row = Model.Rows[0];

}
<style>

    .Upic {
        padding-left: 5%;
        width: 250px;
    }

    .pic_size {
        height: 200px;
        width: 200px;
        /*float:left;*/
    }

    .user_pic_size {
        height: inherit;
        width: inherit;
    }
    /*隱藏原始input檔案上傳設計*/
    input[type="file"] {
        display: none;
    }



    .profile {
        /*float:left;*/
    }
</style>

<div class="btn-group-horizontal" role="group">

    <ul class="nav nav-tabs nav-justified ">
        <li role="presentation">  @Html.ActionLink("個人檔案", "Edit", new { controller = "UserProfile", action = "Edit", id = @Session["User_ID"] })</li>
        <li role="presentation">@Html.ActionLink("修改密碼", "EditPwd", new { controller = "UserProfile", action = "EditPwd", id = @Session["User_ID"] })</li>
        <li role="presentation"  class="active"> @Html.ActionLink("修改大頭照", "Edit", new { controller = "UserPic", action = "Edit", id = @Session["User_ID"] })</li>
        <li role="presentation">@Html.ActionLink("帳戶資料", "ShowCreditCard", new { controller = "CreditCard", action = "ShowCreditCard", id = @Session["User_ID"] })</li>
    </ul>
</div>

<h2>變更大頭照</h2>

<form method="post" action="@Url.Action("EditUserPic")" class="form-horizontal" id="form">
    <div class="container">

        <div class="Upic row  col-md-6 text-center">
            <div class="pic_size ">
                <img id="User_Photo" alt="@row["User_Photo"].ToString()" class="user_pic_size" />
                <label for="pic" class="btn btn-default">
                    <span class=" glyphicon glyphicon-picture" style="width:200px">
                        選擇照片
                    </span>
                    <input type="file" id="pic" name="pic" accept="image/*" />
                    <input id="Hidden1" type="hidden" name="Hidden1" />
                </label>
                <br />
                <input id="Submit1" type="submit" value="確認" class="" />
                @*    <input type="button" id="save" value="儲存" class="btn btn-default" />*@
            </div>
        </div>
        
    </div>
   
</form>






<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>


     //檢查是否已有大頭照，沒有則使用預設圖片
    if ($('#User_Photo').attr('alt') != "") {
        $('#User_Photo').attr("src","../../photo/user_pic/"+$('#User_Photo').attr('alt'));
    }
    else{
        $('#User_Photo').attr("src", "../../photo/user_pic/userpic_default.jpg");

    }

     //上傳新大頭照的預覽
    $('#pic').change(function (evt) {
        var files = evt.target.files;
        var file = files[0];
        
        if (file != null) {

            console.log(file.name);
            console.log(file);

            var data = new FormData();
            data.append("pic", file);

            $.ajax({
                url: '@Url.Action("EditPic","UserPic")',
                type: 'Post',
                dataType: "text",
                data: data,
                processData: false,
                contentType: false,
                success: function (pic) {
                    $('#User_Photo').attr("src", "../../photo/user_pic/" + pic);
                    $('#User_Photo').attr("alt", pic);
                    $('#Hidden1').val(pic);
                    console.log("成功" + pic + "/" + $('#User_Photo').attr("alt"));
                },
                error: function (e) {
                    console.log("fail");
                }
            });

        }
        else {
            console.log("沒有選取檔案");
             $('#User_Photo').attr("src","../../photo/user_pic/"+$('#User_Photo').attr('alt'));
        }

    });

</script>


